{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eventos_list.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}"/>
{% endblock %}

{% block title %}Seguimiento de Eventos{% endblock %}

{% block header-title %}Seguimiento de Eventos{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Eventos{% endblock %}

{% block btn-nuevo %}
    <form class="form-filtro form-inline" method="post" style="margin: 0">
        {% csrf_token %}
        {{ rango_form.media }}
        {% for field in rango_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
    </form>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Estampa de tiempo</th>
            <th>Usuario</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in listado %}
            <tr>
                <td>{{ evento.action_time }}</td>
                <td>{{ evento.user }}</td>
                <td>{{ evento }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/es-us.js' %}"></script>
    <script>
        $('#id_fecha_desde').datetimepicker({
            format: 'DD/MM/YY HH:mm',
            locale: 'es-us',
            sideBySide: true,
            maxDate: moment()
        });
        $('#id_fecha_hasta').datetimepicker({
            format: 'DD/MM/YY HH:mm',
            locale: 'es-us',
            sideBySide: true,
            maxDate: moment()
        });
    </script>
{% endblock %}
