{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eventos_list.css' %}"/>
{% endblock %}

{% block title %}Seguimiento de Eventos{% endblock %}

{% block header-title %}Seguimiento de Eventos{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Eventos{% endblock %}

{% block btn-nuevo %}
    <form class="form-filtro form-inline" method="post" style="margin: 0px">
        {% csrf_token %}
        {{ rango_form.media }}
        {% for field in rango_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
    </form>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Estampa de tiempo</th>
            <th>Usuario</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in listado %}
            <tr>
                <td>{{ evento.action_time }}</td>
                <td>{{ evento.user }}</td>
                <td>{{ evento }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block more-scripts %}
    <script>
        $('#id_fecha_desde').datetimepicker({
            format:'d/m/Y H:i',
            maxDate: new Date()
        });
        $('fecha_hasta').datetimepicker({
            format:'d/m/Y H:i',
            maxDate: new Date()
        });
        $.datetimepicker.setLocale('es');
    </script>
{% endblock %}