{% extends "base/base_estadisticas.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Estadisticas Mascotas{% endblock %}

{% block header-title %}Estadisticas para Mascotas{% endblock %}

{% block tabs %}
    <ul>
        <li><a href="#tabs-1">Patentamiento de Animales</a></li>
        <li><a href="#tabs-2">Esterilización de Animales</a></li>
        <li><a href="#tabs-3">Retiro/Entrega de Animales</a></li>
    </ul>
    <div id="tabs-1">
        <canvas class="doughnut"></canvas>
    </div>
    <div id="tabs-2">
        <canvas class="doughnut"></canvas>
    </div>
    <div id="tabs-3">
        <canvas class="doughnut"></canvas>
    </div>
{% endblock %}
