{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Control de Plagas{% endblock %}

{% block header-title %}Alta/Modificacion de Control{% endblock %}

{% block url-volver %}{% url 'controles_plagas:lista_controles_plagas' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            {% include 'caja/cuadro_facturacion.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'controles_plagas:lista_controles_plagas' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            minDate: "+1d"
        });
    </script>
{% endblock %}
