{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Control de Plagas{% endblock %}

{% block header-title %}Alta/Modificacion de Control{% endblock %}

{% block url-volver %}{% url 'controles_plagas:lista_controles_plagas' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            {% include 'caja/cuadro_facturacion.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'controles_plagas:lista_controles_plagas' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        $.datepicker.setDefaults({
            minDate: new Date()
        });

        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}
