{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Control de Plagas{% endblock %}

{% block header-title %}Alta/Modificacion de Control{% endblock %}

{% block url-volver %}{% url 'controles_plagas:lista_controles_plagas' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            <div id="radio_pago">
                <div class="radio">
                    <label><input type="radio" name="radio_tipo_pago" value="diferido" checked>Pago Diferido</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="radio_tipo_pago" value="normal">Pago Normal</label>
                </div>
            </div>
            <br>
            <div class="pago_diferido">
                <label>Fecha de Pago *</label>
                {{ pago_diferido_form.fecha_pago|add_class:'form-control' }}
            </div>
            <div class="pago_normal">
                {% include 'caja/cuadro_facturacion.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'controles_plagas:lista_controles_plagas' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            minDate: "+1d"
        });

        var pago_diferido = $('.pago_diferido'),
        pago_normal = $('.pago_normal');

        tipo_pago = $("input[name='radio_tipo_pago']:checked").val();
        hideTipoPago();

        $('#radio_pago').change(function(){
            tipo_pago = $("input[name='radio_tipo_pago']:checked").val();
            hideTipoPago();
        });

        function hideTipoPago() {
            if (tipo_pago == 'diferido') {
                pago_diferido.removeClass('hidden');
                pago_normal.addClass('hidden');
                requireNone();
            } else {
                pago_diferido.addClass('hidden');
                pago_normal.removeClass('hidden');
                hideFields();
            }
        }
    </script>
{% endblock %}
