{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Control de Plagas{% endblock %}

{% block header-title %}Controles{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Control{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'controles_plagas:nuevo_control_plaga' %}" class="btn btn-sm btn-primary btn-create">Nuevo Control</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Responsable</th>
            <th>Funcionario Actuante</th>
            <th>Tipo de Plaga</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for control in listado %}
            <tr>
                <td>{{ control.fecha_hoy }}</td>
                <td>{{ control.responsable }}</td>
                <td>{{ control.funcionario_actuante }}</td>
                <td>{{ control.tipo_plaga }}</td>
                <td>
                  <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'controles_plagas:detalle_control_plaga' control.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                  <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'controles_plagas:modificar_control_plaga' control.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                  <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" href="{% url 'controles_plagas:borrar_control_plaga' control.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
