{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Mascotas{% endblock %}

{% block header-title %}Detalle de Mascota{% endblock %}

{% block url-volver %}{% url 'mascotas:lista_mascotas' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Nombre:</td>
                <td>{{ object.nombre }}</td>
            </tr>           
            <tr>
                <td>Pelaje:</td>
                <td>{{ object.pelaje }}</td>
            </tr>           
            <tr>
                <td>Raza:</td>
                <td>{{ object.raza }}</td>
            </tr>           
            <tr>
                <td>Fecha Nacimiento:</td>
                <td>{{ object.fecha_nacimiento }}</td>
            </tr>           
            <tr>
                <td>Sexo:</td>
                <td>{{ object.sexo }}</td>
            </tr>           
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'mascotas:lista_mascotas' %}" class="btn btn-primary">Regresar</a>
{% endblock %}
