Django==1.11.29
django-bootstrap3
django-addanother
django-polymorphic
django-widget-tweaks
numpy
django-solo
python-dateutil
WeasyPrint==0.42.3
django-mathfilters
django-cleanup
Pillow==6.0.0
sphinx_rtd_theme