{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block title %}Login{% endblock %}

{% block no-navbar %}{% endblock %}

{% block no-header %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <h4 align="center">Bienvenido</h4>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="login">
                            <form class="form-signin" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.username|add_class:'form-control'|attr:"placeholder:Usuario" }}
                                </div>
                                <div class="form-group">
                                    {{ form.password|add_class:'form-control'|attr:"placeholder:Contraseña" }}
                                </div>
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Ingresar"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                                <div class="msg-error" align="center">
                                    {% if form.errors %}
                                        <p>El nombre de usuario y la contraseña no coinciden. Intente nuevamente.</p>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
