{% extends "base/base.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_estadisticas.css' %}"/>
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container-fluid container-form">
        <div class="panel panel-info">
            <div class="panel-heading" align="right">
                <form class="form-inline" method="post" style="margin: 0">
                    {% csrf_token %}
                    {{ rango_form.media }}
                    {% for field in rango_form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                    {% if rango_form.non_field_errors%}
                        <div class="alert alert-danger" role="alert">{{rango_form.non_field_errors}}</div>
                    {% endif %}
                </form>
            </div>
            <div class="panel-body">
                <div id="tabs" style="overflow:scroll;">
                    {% block tabs %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/datetime-moment.js' %}"></script>
    <script>
        $(document).ready(function(){
            $.fn.dataTable.moment('DD-MM-YYYY');
            $('.table-list').DataTable({
                language: {
                            "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ningún dato disponible en esta tabla",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                },
                searching: false,
                dom: 'Bfrtip',
                buttons: ['copy', 'excel', 'pdf']
            });

            $('[data-toggle="tooltip"]').tooltip();
        });

        $(function() {
            $("#tabs").tabs();
        });

        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var labels_list = JSON.parse('{{lista_labels|safe}}');
        var datos_list = JSON.parse('{{lista_datos|safe}}');

        $('canvas').each(function (index){
            var ctx = $(this),
            labels = labels_list[index],
            datos = datos_list[index];

            var background_colors = [];
            for (var i = 0, len = labels.length; i < len; i++) {
                background_colors.push(getRandomColor());
            }

            var datasets = [];

            if($(this).hasClass('barStacked')) {
                $.each(datos, function(key, value) {
                    datasets.push(
                        {
                            data: value,
                            label: key,
                            backgroundColor: getRandomColor(),
                            borderWidth: 1
                        })
                });

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                categoryPercentage: 1.0,
                                barPercentage: 0.8,
                                stacked: true
                            }],
                            yAxes: [{
                                beginAtZero:true,
                                stepSize: 1,
                                stacked: true
                            }]
                        }
                    }
                });
            } else {
                $.each(datos, function(key, value) {
                    datasets.push(
                        {
                            data: value,
                            label: key,
                            backgroundColor: background_colors,
                            borderWidth: 1
                        })
                });

                if($(this).hasClass('doughnut')) {
                    new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: labels,
                            datasets: datasets
                        }
                    });
                } else {
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    categoryPercentage: 1.0,
                                    barPercentage: 0.8
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true,
                                        stepSize: 1
                                    }
                                }]
                            }
                        }
                    });
                }
            }
        });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
