{% load staticfiles %}
{% load staticfiles bootstrap3 %}

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="{% static 'images/rawson.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/particles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/>
    {% block stylesheets %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% bootstrap_messages %}

    {% block no-navbar %}
        {% include 'base/nav.html' %}
    {% endblock %}

    {% block no-particles %}
        {% include 'base/particles.html' %}
    {% endblock %}

    {% block no-header %}
        <header id="header-page" class="header">
            <a href="{% block url-volver %}{% endblock %}" class="btn-volver">
                <span class="glyphicon glyphicon-arrow-left hvr-buzz pull-right"></span>
            </a>
            <h1 class="header-title pull-left">
                {% block header-title %}{% endblock %}
            </h1>
        </header>
    {% endblock %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.js' %}"></script>
    <script src="{% static 'js/selectize.js' %}"></script>
    <script src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
    <script>
        $('select').selectize({
            sortField: {
                field: 'text',
                direction: 'asc'
            },
            dropdownParent: 'body'
        });

        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };

        $.datepicker.setDefaults($.datepicker.regional['es']);

        $(document).ready(function() {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                yearRange: '1940:2050',
                onClose: function(selectedDate) {
                    $("#fecha").datepicker("option","minDate",selectedDate);
                }
            });

            $('.timepicker').timepicker();
        });
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
