{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_detail.css' %}"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container container-detail">
        <div class="panel panel-default">
            <div class="panel-body">{% block detail %}{% endblock %}</div>
            <div class="panel-footer">{% block btn-footer %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

  <script type="text/javascript" >
    $(document).ready(function() {
        $('.datepicker').datepicker({
                                dateFormat: "dd/mm/yy",
                                defaultDate: "+1w",
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1940:2050',
                                onClose: function( selectedDate ) {
                                        $( "#fecha" ).datepicker( "option", "minDate", selectedDate );
                                }
                        });
    });
  </script>

{% endblock %}
