{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_form.css' %}"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}

    <div class="container cuadro-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Aceptar"/>
        </form>
    </div>
{% endblock %}

{% block scripts %}

  <script type="text/javascript" >
    $(document).ready(function() {
        $('.datepicker').datepicker({
                                dateFormat: "dd/mm/yy",
                                defaultDate: "+1w",
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '1940:2050',
                                onClose: function( selectedDate ) {
                                        $( "#fecha" ).datepicker( "option", "minDate", selectedDate );
                                }
                        });
    });
  </script>

{% endblock %}
