{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_form.css' %}"/>
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-7" id="container-form-left">
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.label != 'Foto' %} <!-- para que no se rompa el boton browse file -->
                                    {{ field|add_class:'form-control' }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if form.non_field_errors%}
                          <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
                        {% endif %}
                    </div>
                    {% block form-right %}{% endblock %}
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar">
                    {% block btn-cancelar %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
