{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_listado.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.css' %}"/>
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">{% block panel-title %}{% endblock %}</h3>
                            </div>
                            <div class="col col-xs-6 text-right">
                                {% block btn-nuevo %}{% endblock %}
                                {% block btn-buscar %}
                                <a class="btn btn-sm btn-info" role="button" id="buscar">Buscar</a>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="hidden-panel">
                        <form method="get">
                            <div class="well">
                                {% csrf_token %}
                                {% for hidden in filter.form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                {% for field in filter.form.visible_fields %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search"></span> Buscar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body">
                        {% block tabla %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sweetalert2.js' %}"></script>
    <script src="{% static 'js/paging.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#hidden-panel").hide();

            $('[data-toggle="tooltip"]').tooltip();

            $("#buscar").click(function(){
                $("#hidden-panel").slideToggle("slow");
            });

            $('.table-list').paging({limit:8});
        });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
