{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_form.css' %}"/>
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container-fluid container-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel panel-primary" id ="panel-tabs">
                <div class="panel-body">
                    <div id="tabs" style="overflow:scroll;">
                        {% block tabs %}{% endblock %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/chart.js' %}"></script>

    <script>

        $(function() {
            $("#tabs").tabs();
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        /*
        CHART GENERICO
        */

        var labels_list = JSON.parse('{{lista_labels|safe}}');
        var datos_list = JSON.parse('{{lista_datos|safe}}');

        $('canvas').each(function (index){
            var ctx = $(this),
            labels = labels_list[index];
            datos = datos_list[index];

            var background_colors = []
            for (var i = 0, len = labels.length; i < len; i++) {
                background_colors.push(getRandomColor());
            }

            datasets = []
            $.each(datos, function(key, value) {
                datasets.push(
                    {
                        data: value,
                        label: key,
                        backgroundColor: background_colors,
                        borderWidth: 1
                    })
            })

            var data = {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true,
                                stepSize: 1
                            }
                        }]
                    }
                }
            }

            var chart = new Chart(ctx,data);
        });
    </script>

    {% block more-scripts %}{% endblock %}
{% endblock %}
