{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_detail.css' %}"/>
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container container-detail">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-info">
                    <div class="panel-body">{% block detail %}{% endblock %}</div>
                    <div class="panel-footer">{% block btn-footer %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                yearRange: '1940:2050',
                onClose: function(selectedDate) {
                    $("#fecha").datepicker("option","minDate",selectedDate);
                }
            });
        });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
