{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_listado.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.css' %}"/>
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container-fluid container-list col-md-12">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">{% block panel-title %}{% endblock %}</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        {% block btn-nuevo %}{% endblock %}
                        {% block no-filter-panel %}
                            <a class="btn btn-sm btn-info" id="buscar">Buscar</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="panel-body" id="hidden-panel">
                <form method="get">
                    <div class="well">
                        {% csrf_token %}
                        {% for field in filter.form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                {% block no-filter-table %}
                    {% if filter.qs %}
                        {% block tabla %}{% endblock %}
                    {% else %}
                        <div id="table-empty" class="table-empty">
                            <h3 class="table-empty-title"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                No se encontraron elementos
                            </h3>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            {% block panel-footer %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sweetalert2.js' %}"></script>
    <script src="{% static 'js/paging.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();

            $("#buscar").click(function(){
                $("#hidden-panel").slideToggle("slow");
            });

            $('.table-list').paging({limit:8});

            $('.btn-baja').click(function confirmarBaja(e) {
                var urlBaja = $(e.target).data('url');
                swal({
                    title: "¿Esta seguro?",
                    text: "¿Desea eliminar este elemento?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar"
                }).then(function(){
                    $.ajaxSetup({
                        headers: {
                            "X-CSRFToken": Cookies.get('csrftoken')
                        }
                    });
                    $.ajax({
                        url: urlBaja,
                        type: 'POST',
                        success: function(e) {
                            swal('Baja confirmada', 'El elemento se elimino correctamente', 'success').then(
                                function(){
                                    location.reload()
                                }
                            );
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal('Error de operacion', 'Por favor intente nuevamente', 'error');
                        }
                    });
                });
            });
        });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
