{% extends "base/base.html" %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_listado.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}"/>
    {% block more-stylesheets %}{% endblock %}
{% endblock %}

{% block no-particles %}{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block content %}
    <div class="container-fluid container-list col-md-12">
        <div class="panel panel-info panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <h3 class="panel-title">{% block panel-title %}{% endblock %}</h3>
                    </div>
                    <div class="col-xs-8 col-md-8 text-right">
                        {% block btn-nuevo %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% if listado %}
                    <div class="container-fluid container-table">
                        <table class="table table-list table-bordered table-striped" id="table-list">
                            {% block tabla %}{% endblock %}
                        </table>
                    </div>
                {% else %}
                    <div id="table-empty" class="table-empty">
                        <h3 class="table-empty-title"><span class="glyphicon glyphicon-exclamation-sign"></span>
                            No se encontraron elementos
                        </h3>
                    </div>
                {% endif %}
            </div>
            {% block panel-footer %}{% endblock %}
        </div>
    </div>

    <div id="modalBaja" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar objeto</h4>
                </div>
                <div class="modal-body" align="center">
                    <h3>¡Atención!</h3>
                    <p>Se eliminara el objeto seleccionado</p>
                    <p>¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-confirm-baja" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>

    <div id="modalConfirmBaja" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="location.reload()">&times;</button>
                    <h4 class="modal-title">Objeto eliminado</h4>
                </div>
                <div class="modal-body" align="center">
                    <p>El objeto se elimino correctamente</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.reload()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#table-list').DataTable({
                language: {
                            "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ningún dato disponible en esta tabla",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                }
            });

            $('[data-toggle="tooltip"]').tooltip();
        });

        $('.btn-baja').click(function() {
            $('#modalBaja').modal();
            var urlBaja = $(this).data('url');
            $('.btn-confirm-baja').click(function() {
                $.ajax({
                    url: urlBaja,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function() {
                        $('#modalBaja').modal('hide');
                        $('#modalConfirmBaja').modal();
                    }
                });
            });
        });
    </script>
    {% block more-scripts %}{% endblock %}
{% endblock %}
