{% load staticfiles bootstrap3 %}

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="{% static 'images/rawson.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/particles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block stylesheets %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% bootstrap_messages %}

    {% block no-navbar %}
        {% include 'base/nav.html' %}
    {% endblock %}

    {% block no-header %}
        <header id="header-page" class="header">
            {% block no-return %}
                <a href="{% block url-volver %}{% endblock %}" class="btn-volver">
                    <span class="glyphicon glyphicon-arrow-left hvr-buzz pull-right"></span>
                </a>
            {% endblock %}
            <h1 class="header-title pull-left">
                {% block header-title %}{% endblock %}
            </h1>
        </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/select2.full.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script>
        {% block no-select2 %}
            $(document).ready(function() {
                $('select').select2({
                    theme: "bootstrap",
                    width: "100%"
                });
            });
        {% endblock %}

        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy'
        };

        $.datepicker.setDefaults($.datepicker.regional['es']);

        $(document).ready(function() {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1930:2050',
                onClose: function(selectedDate) {
                    $("#fecha").datepicker("option","minDate",selectedDate);
                }
            })
            .mask('00/00/0000', {placeholder: "dd/mm/aaaa"});
        });
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
