{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_baja.css' %}"/>
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
    <div class="container msg-baja">
        <form method="post">{% csrf_token %}
            <div class="msg">¿Está seguro que desea eliminar este elemento?</div>
            <div>
                <input type="submit" class="btn btn-danger" value="Eliminar">
                {% block btn-cancelar %}{% endblock %}
            </div>
        </form>
    </div>
{% endblock %}


