{% load staticfiles %}
{% load staticfiles bootstrap3%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
</head>

<body>
<div class="container col-lg-12 container-nav">
  <div class="row">
    <div class="featurette" id="about">
      <!------------------------code---------------start---------------->
      <div class="container-fluid">
        <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="7000">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="container-fluid">
                  <ul class="ds-btn text-center">
                      <li>
                          <a class="btn btn-lg btn-primary" href="{% url 'cursos:lista_cursos'%}">
                              <span>Cursos de Manipulacion de Alimentos</span>
                          </a>
                      </li>
                      <li>
                          <a class="btn btn-lg btn-primary " href="{% url 'libretas:lista_libretas'%}">
                              <span>Libretas Sanitarias</span>
                          </a>
                      </li>
                      <li>
                          <a class="btn btn-lg btn-primary" href="{% url 'examenes:lista_examenes'%}">
                              <span>Exámenes Clínicos</span>
                          </a>
                      </li>
                      <li>
                          <a class="btn btn-lg btn-primary" href="{% url 'inscripciones:lista_inscripciones'%}">
                              <span>Inscripción a Curso</span>
                          </a>
                      </li>
                  </ul>
              </div>
            </div>
              <div class="item">
                  <div class="container-fluid">
                      <ul class="ds-btn text-center">
                          <li>
                              <a class="btn btn-lg btn-primary" href="{% url 'personas:lista_personas'%}">
                                  <span>Listado de Personas</span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
            <!-- End Item -->
          </div>
          <!-- End Carousel Inner -->
          <div class="controls">
            <ul class="nav">
                <li data-target="#custom_carousel" data-slide-to="0" class="active"> <a><small>LIBRETAS/CURSOS</small></a></li>
                <li data-target="#custom_carousel" data-slide-to="1"> <a><small>PERSONAS</small></a></li>
            </ul>
          </div>
        </div>
        <!-- End Carousel -->
      </div>
      <!----Code------end----------------------------------->
    </div>
  </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
  $(document).ready(function (ev) {
      $('#custom_carousel').on('slide.bs.carousel', function (evt) {
          $('#custom_carousel .controls li.active').removeClass('active');
          $('#custom_carousel .controls li:eq(' + $(evt.relatedTarget).index() + ')').addClass('active');
      })
  });
</script>
</body>
