{% load staticfiles %}
{% load staticfiles bootstrap3%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>

<body>
    <div id="cssmenu">
        <ul>
            <li class="has-sub"><a href="#"><span>Personas</span></a>
                <ul>
                    <li><a href="{% url 'personas:lista_personas'%}"><span>Personas Físicas</span></a></li>
                    <li><a href="#"><span>Personas Jurídicas</span></a></li>
                    <li><a href="#"><span>Personal Propio</span></a></li>
                </ul>
            </li>
            <li class="has-sub"><a href="#"><span>Cursos y Libretas</span></a>
                <ul>
                    <li><a href="{% url 'cursos:lista_cursos'%}"><span>Curso de Manipulacion de Alimentos</span></a></li>
                    <li><a href="{% url 'libretas:lista_libretas'%}"><span>Libreta Sanitaria</span></a></li>
                </ul>
            </li>
            <li class="has-sub"><a href="#"><span>Analisis y Controles</span></a>
                <ul>
                    <li><a href="{% url 'analisis:lista_analisis'%}"><span>Analisis de Triquinosis</span></a></li>
                    <li><a href="{% url 'solicitud:lista_solicitudes'%}"><span>Habilitacion de Criadero de Cerdos</span></a></li>
                    <li><a href="{% url 'controles:lista_controles'%}"><span>Control Antirrabico</span></a></li>
                </ul>
            </li>
            <li class="has-sub"><a href="#"><span>Mascotas</span></a>
                <ul>
                    <li><a href="{% url 'patentes:lista_patentes'%}"><span>Pantetamiento</span></a></li>
                    <li><a href="{% url 'esterilizacion:lista_esterilizaciones'%}"><span>Esterilizacion</span></a></li>
                    <li><a href="{% url 'retiros_entregas:lista_retiro_entrega'%}"><span>Retiros y Entregas</span></a></li>
                </ul>
            </li>
            <li class="has-sub"><a href="#"><span>Abasto</span></a>
                <ul>
                    <li><a href="{% url 'abastecedores:lista_abastecedores'%}"><span>Abastecedores</span></a></li>
                    <li><a href="{% url 'reinspecciones:lista_reinspecciones'%}"><span>Reinspecciones</span></a></li>
                </ul>
            </li>
            <li class="has-sub"><a href="#"><span>Transporte y Desinfeccion</span></a>
                <ul>
                    <li><a href="{% url 'vehiculo:lista_vehiculos'%}"><span>Vehiculos</span></a></li>
                    <li><a href="{% url 'desinfecciones:lista_desinfecciones'%}"><span>Desinfecciones</span></a></li>
                    <li><a href="{% url 'controles_plagas:lista_controles_plagas'%}"><span>Control de Plagas</span></a></li>
                </ul>
            </li>
            <li class="pull-right"><a href="#"><span>{{ user.get_username }}</span></a>
                <ul>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Salir</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
