{% load staticfiles %}
{% load staticfiles bootstrap3%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
</head>

<body>
<div class="container col-lg-12">
  <div class="row">
    <div class="featurette" id="about">
      <!------------------------code---------------start---------------->
      <div class="container-fluid">
        <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="5000">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="container-fluid">
                  <ul class="ds-btn">
                      <li>
                          <a class="btn btn-lg btn-primary" href="{% url 'cursos:lista_cursos'%}">
                              <span>Cursos de Manipulacion de Alimentos</span>
                          </a>
                      </li>
                      <li>
                          <a class="btn btn-lg btn-success " href="{% url 'libretas:lista_libretas'%}">
                              <span>Libretas Sanitarias</span>
                          </a>
                      </li>
                      <li>
                          <a class="btn btn-lg btn-danger" href="#">
                              <span>Examenes Clínicos</span>
                          </a>
                      </li>
                  </ul>
              </div>
            </div>
            <div class="item">
              <div class="container-fluid">
                <h4>
                  WATER & SANITAION / Clients
                </h4>
                <p>
                <div class="col-lg-6">
                  <ul>
                    <li>Construction Authority for Potable Water & Wastewater </li>
                    <li>National Organization for Potable & Sanitary Drainage </li>
                    <li>The Holding Company for Water & Wastewater </li>
                    <li>Ministry of Water Resources & Irrigation </li>
                    <li>Army Engineering Division</li>
                    <li>Ministry of Defense</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>New Urban Development Authority</li>
                  </ul>
                </div>
                </p>
              </div>
            </div>
            <div class="item">
              <div class="container-fluid">
                <h4>
                  ELECTRICITY & POWER / Clients
                </h4>
                <p>
                <div class="col-lg-6">
                  <ul>
                    <li>Cairo Electricity Production Company</li>
                    <li>West Delta Electricity Production Company</li>
                    <li>Middle Delta Electricity Production Company</li>
                    <li>Upper Egypt Electricity Production Company</li>
                    <li>Nuclear Power Plant Authority</li>
                    <li>Egyptian Electricity Transmission Company</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>Egypt Post</li>
                    <li>Ministry of Health</li>
                    <li>Egyptian Ministry of Electricity & Power</li>
                    <li>Private developers</li>
                  </ul>
                </div>
                </p>
              </div>
            </div>
            <div class="item">
              <div class="container-fluid">
                <h4>
                  GAS / Clients
                </h4>
                <p>
                <div class="col-lg-6">
                  <ul>
                    <li>Petrolem Gas Company </li>
                    <li>EgyptGas</li>
                    <li>Petroleum Projects & Technical Consultations Company </li>
                    <li>Alexandria Petroleum Company </li>
                    <li>Petroleum Pipeline Company </li>
                    <li>Arab Petroleum Pipelines Company</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>Gulf of Suez Petroleum Company</li>
                    <li>Belayim Petroleum Company</li>
                  </ul>
                </div>
                </p>
              </div>
            </div>
            <div class="item">
              <div class="container-fluid">
                <h4>
                  CONSTRUCTION & DEVELOPMENT / Clients
                </h4>
                <p>
                <div class="col-lg-12">
                  <ul>
                    <li> Ministry of Housing, Utilities and Urban Development</li>
                    <li>The Administrative Cairo Capital for Urban Development Compnay</li>
                    <li>New Urban Communities Authority</li>
                    <br>
                    <br>
                    <br>
                  </ul>
                </div>
                </p>
              </div>
            </div>
            <div class="item">
              <div class="container-fluid">
                <h4>
                  RENEWABLE ENERGY / Clients
                </h4>
                <p>
                <div class="col-lg-12">
                  <ul>
                    <li> Ministry of Electricity and Renewable Energy </li>
                    <li>New & Renewable Energy Authority Egyptian Electricity Transmission</li>
                    <li>Company Egyptian Electricity Holding</li>
                    <li>Company</li>
                    <li>Hydro-Power Plants Authority</li>
                    <br>
                  </ul>
                </div>
                </p>
              </div>
            </div>
            <div class="item">
              <div class="container-fluid">
                <h4>
                  TRANSPORTATION / Clients
                </h4>
                <p>
                <div class="col-lg-6">
                  <ul>
                    <li> Egyptian Airports Company</li>
                    <li>Cairo Airport Company</li>
                    <li>Egyptian Company for Metro</li>
                    <li>Egyptian National Railways</li>
                    <li>Ministry of Transportation</li>
                    <li>National Air Navigation Services Company</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>EgyptAir </li>
                  </ul>
                </div>
                </p>
              </div>
            </div>

            <!-- End Item -->
          </div>
          <!-- End Carousel Inner -->
          <div class="controls">
            <ul class="nav">
              <li data-target="#custom_carousel" data-slide-to="0" class="active"> <a><small>LIBRETAS/CURSOS</small></a></li>
              <li data-target="#custom_carousel" data-slide-to="1"> <a href="#"><small>MASCOTAS</small></a> </li>
              <li data-target="#custom_carousel" data-slide-to="2"> <a href="#"><small>ELECTRICITY & POWER</small></a> </li>
              <li data-target="#custom_carousel" data-slide-to="3"> <a href="#"><small>GAS</small></a> </li>
              <li data-target="#custom_carousel" data-slide-to="4"> <a href="#"><small>CONSTRUCTION & DEVELOPMENT</small></a> </li>
              <li data-target="#custom_carousel" data-slide-to="5"> <a href="#"><small>RENEWABLE ENERGY</small></a> </li>
              <li data-target="#custom_carousel" data-slide-to="6"> <a href="#"><small>TRANSPORTATION</small></a> </li>
            </ul>
          </div>
        </div>
        <!-- End Carousel -->
      </div>
      <!----Code------end----------------------------------->
    </div>
  </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
  $(document).ready(function (ev) {
      $('#custom_carousel').on('slide.bs.carousel', function (evt) {
          $('#custom_carousel .controls li.active').removeClass('active');
          $('#custom_carousel .controls li:eq(' + $(evt.relatedTarget).index() + ')').addClass('active');
      })
  });
</script>
</body>
