.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.7rem 15px;
  overflow: hidden;
  background: white;
}

.header-title,
.btn-volver span {
  font-size: 3rem;
}

.header-title {
	color: rgb(0,70,147);
	font-weight: bolder;
  	margin: 0;
}

.dt-buttons {
    margin-bottom: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}