.container-nav {
    background: #fff;
}

#custom_carousel .item {
		color: #fff;
		background-color: #232323;
}

#custom_carousel .controls {
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		text-align: center;
		position: relative;
		background: #ddd
}

#custom_carousel .controls li {
        background-color: #232323;
		display: table-cell;
		width: 1%;
		max-width: 90px
}

#custom_carousel .controls li.active {
		border-top: 3px solid orange;
}

#custom_carousel .controls a small {
		overflow: hidden;
		display: block;
		font-size: 10px;
		margin-top: 5px;
		font-weight: bold
}

.ds-btn li {
    padding:10px;
    display:inline-block;
    margin-top: 10px;
}

.ds-btn li a span {
    padding-left:15px;
    padding-right:5px;
    width:100%;
    display:inline-block;
}