{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
<div class="container">
  <h2>Estadísticas</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <!--
      <div>
        <form method="post" class="form-inline">
          {% csrf_token %}
          <br><br><br><br>
          Fecha desde: <input type="text" name="desde" class="datepicker">
          Fecha hasta: <input type="text" name="hasta" class="datepicker">
          <input type="submit" value="Filtrar">
        </form>
      </div>
      -->

      <div class="checkbox">
        <label><input id="opcion1" type="checkbox" value="" onchange="valueChanged()">
        Alumnos Inscriptos por Curso</label>
      </div>

      <div class="checkbox">
        <label><input id="opcion2" type="checkbox" value="" onchange="valueChanged()">
        Cursos Dictados por Año</label>
      </div>

      <div class="checkbox">
        <label><input id="opcion3" type="checkbox" value="" onchange="valueChanged()">
        Calificaciones por Curso</label>
      </div>

      <div class="checkbox">
        <label><input id="opcion4" type="checkbox" value="" onchange="valueChanged()">
        Libretas por Curso</label>
      </div>


    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">

      <div id="div-opcion1" style="display:none;">
        <p><strong>Promedio de Alumnos Inscriptos por Curso: {{promedio_inscriptos}}</strong></p>
        <canvas id="chartPromInscriptos" width="5" height="5"></canvas>
      </div>

      <div id="div-opcion2" style="display:none;">
        <p><strong>Promedio de Cursos dictados por Año: {{promedio_anual}}</strong></p>
        <canvas id="chartPromCursosAnual" width="5" height="5"></canvas>
      </div>

      <div id="div-opcion3" style="display:none;">
        <p><strong>Promedio HISTÓRICO de aprobados: {{promedio_aprobados}}</strong></p>
        <p><strong>Promedio HISTÓRICO de desaprobados: {{promedio_desaprobados}}</strong></p>
        <p><strong>Promedio HISTÓRICO sin calificación: {{promedio_sc}}</strong></p>
        <canvas id="chartCalificaciones" width="5" height="5"></canvas>
      </div>

      <div id="div-opcion4" style="display:none;">
        <p><strong>Promedio HISTÓRICO de libretas blancas: {{promedio_blanca}}</strong></p>
        <p><strong>Promedio HISTÓRICO de libretas amarillas: {{promedio_amarilla}}</strong></p>
        <p><strong>Promedio HISTÓRICO de libretras celestes: {{promedio_celeste}}</strong></p>
        <canvas id="chartLibretas" width="5" height="5"></canvas>

      </div>

    </div>
  </div>
</div>
{% endblock %}
<!--

estadisticas:

GESTION CURSOS

- promedio de inscriptos por curso .. OK
- promedio de cursos por año .. OK
- promedio de Calificaciones .. OK
- cantidad de libretas por tipo .. OK
- promedio de asistencias

-->

{% block scripts %}

<script src="{% static 'js/chart.js' %}"></script>

<script>


  /*
  FUNCIÓN PARA MOSTRAR DIV CORRESPONDIENTE AL CHECKBOX
  */
  function valueChanged()
  {
      if($('#opcion1').is(":checked"))
          $("#div-opcion1").show();
      else
          $("#div-opcion1").hide();

      if($('#opcion2').is(":checked"))
          $("#div-opcion2").show();
      else
          $("#div-opcion2").hide();

      if($('#opcion3').is(":checked"))
          $("#div-opcion3").show();
      else
          $("#div-opcion3").hide();

      if($('#opcion4').is(":checked"))
          $("#div-opcion4").show();
      else
          $("#div-opcion4").hide();
  }

  function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  }

  /*
  PRIMER CHART
  */

  var ctx = document.getElementById('chartPromInscriptos');
  var label_cursos = JSON.parse('{{ label_cursos|safe }}');
  var datos_inscripciones = JSON.parse('{{ datos_inscripciones|safe }}');

  var background_colors = []
  for (var i = 0, len = label_cursos.length; i < len; i++) {
    background_colors.push(getRandomColor());
  }

  var chartPromInscriptos = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: label_cursos,
         datasets: [
             {
               data: datos_inscripciones,
               label: 'Alumnos',
               backgroundColor: background_colors,
               borderWidth: 1
             }
         ]
     },
     options: {
       scales: {
           yAxes: [{
               ticks: {
                   beginAtZero:true,
                   stepSize: 1,
               },
           }]
       }
     }
  })

  /*
  SEGUNDO CHART
  */

  var ctx = document.getElementById('chartPromCursosAnual');
  var label_year = JSON.parse('{{ label_year|safe }}');
  var datos_cursos_anuales = JSON.parse('{{ datos_cursos_anuales|safe }}');

  var background_colors = []
  for (var i = 0, len = label_year.length; i < len; i++) {
    background_colors.push(getRandomColor());
  }

  var chartPromCursosAnual = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: label_year,
         datasets: [
             {
               data: datos_cursos_anuales,
               label: 'Cursos',
               backgroundColor: background_colors,
               borderWidth: 1
             }
         ]
     },
     options: {
       scales: {
           yAxes: [{
               ticks: {
                   beginAtZero:true,
                   stepSize: 1,
               },
           }]
       }
     }
  })

  /*
  TERCER CHART
  */

  var ctx = document.getElementById("chartCalificaciones");
  var label_curso_anios = JSON.parse('{{ label_curso_anios|safe }}');
  var datos_aprobados = JSON.parse('{{ datos_aprobados|safe }}');
  var datos_desaprobados = JSON.parse('{{ datos_desaprobados|safe }}');
  var datos_sc = JSON.parse('{{ datos_sc|safe }}');

  var data = {

      labels: label_curso_anios,
      datasets: [
          {
            data: datos_aprobados,
            label: 'Aprobados',
            backgroundColor: background_colors,
            borderWidth: 1
          },

          {
            data: datos_desaprobados,
            label: 'Desaprobados',
            backgroundColor: background_colors,
            borderWidth: 1
          },

          {
            data: datos_sc,
            label: 'Sin Calificar',
            backgroundColor: background_colors,
            borderWidth: 1
          },

      ]
  }

  var chartCalificaciones = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
          barValueSpacing: 20,
          scales: {
              yAxes: [{
                  ticks: {
                    beginAtZero:true,
                    stepSize: 1,
                  }
              }]
          }
      }
  });

  /*
  CUARTO CHART
  */

  var ctx = document.getElementById("chartLibretas");
  var label_libretas_anios = JSON.parse('{{ label_libretas_anios|safe }}');
  var datos_blanca = JSON.parse('{{ datos_blanca|safe }}');
  var datos_amarilla = JSON.parse('{{ datos_amarilla|safe }}');
  var datos_celeste = JSON.parse('{{ datos_celeste|safe }}');

  var data = {

      labels: label_libretas_anios,
      datasets: [
          {
            data: datos_blanca,
            label: 'Blancas',
            backgroundColor: background_colors,
            borderWidth: 1
          },

          {
            data: datos_amarilla,
            label: 'Amarillas',
            backgroundColor: background_colors,
            borderWidth: 1
          },

          {
            data: datos_celeste,
            label: 'Celestes',
            backgroundColor: background_colors,
            borderWidth: 1
          },

      ]
  }

  var chartLibretas = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
          barValueSpacing: 20,
          scales: {
              yAxes: [{
                  ticks: {
                    beginAtZero:true,
                    stepSize: 1,
                  }
              }]
          }
      }
  });


</script>

{% endblock %}
