{% extends "base/base_estadisticas.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Estadisticas Libretas/Cursos{% endblock %}

{% block header-title %}Estadisticas para Libretas/Cursos{% endblock %}

{% block tabs %}
    <ul>
        <li><a href="#tabs-1">Alumnos Inscriptos por Curso</a></li>
        <li><a href="#tabs-2">Cursos Dictados por Año</a></li>
        <li><a href="#tabs-3">Calificaciones por Curso</a></li>
        <li><a href="#tabs-4">Libretas por Curso</a></li>
        <li><a href="#tabs-5">Libretas por Servicio</a></li>
    </ul>
    <div id="tabs-1">
        <div class="chartAreaWrapper">
          <canvas height="35"></canvas>
        </div>
    </div>
    <div id="tabs-2">
        <div class="chartAreaWrapper">
          <canvas height="35"></canvas>
        </div>
    </div>
    <div id="tabs-3">
        <canvas class="doughnut"></canvas>
    </div>
    <div id="tabs-4">
        <canvas class="doughnut"></canvas>
    </div>
    <div id="tabs-5">        
        <canvas class="doughnut"></canvas>
    </div>
{% endblock %}
