{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
{% endblock %}

{% block no-particles %}{% endblock %}

{% block content %}
<div class="container">
  <h2>Estadísticas</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <!--
      <div>
        <form method="post" class="form-inline">
          {% csrf_token %}
          <br><br><br><br>
          Fecha desde: <input type="text" name="desde" class="datepicker">
          Fecha hasta: <input type="text" name="hasta" class="datepicker">
          <input type="submit" value="Filtrar">
        </form>
      </div>
      -->

      <div class="checkbox">
        <label><input id="opcion1" type="checkbox" value="" onchange="valueChanged()">
        Alumnos Inscriptos por Curso</label>
      </div>

      <div class="checkbox">
        <label><input id="opcion2" type="checkbox" value="" onchange="valueChanged()">
        Cursos Dictados por Año</label>
      </div>

      <div class="checkbox">
        <label><input id="opcion3" type="checkbox" value="" onchange="valueChanged()">
        Calificaciones por Curso</label>
      </div>

      <div class="checkbox">
        <label><input id="opcion4" type="checkbox" value="" onchange="valueChanged()">
        Libretas por Curso</label>
      </div>


    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">

      <div id="div-opcion1" style="display:none;">
        <p><strong>Promedio de Alumnos Inscriptos por Curso: {{promedio_inscriptos}}</strong></p>
        <canvas id="chartPromInscriptos" width="5" height="5"></canvas>
      </div>

      <div id="div-opcion2" style="display:none;">
        <p><strong>Promedio de Cursos dictados por Año: {{promedio_anual}}</strong></p>
        <canvas id="chartPromCursosAnual" width="5" height="5"></canvas>
      </div>

      <div id="div-opcion3" style="display:none;">
        <p><strong>Promedio HISTÓRICO de aprobados: {{promedio_aprobados}}</strong></p>
        <p><strong>Promedio HISTÓRICO de desaprobados: {{promedio_desaprobados}}</strong></p>
        <p><strong>Promedio HISTÓRICO sin calificación: {{promedio_sc}}</strong></p>
        <canvas id="chartCalificaciones" width="5" height="5"></canvas>
      </div>

      <div id="div-opcion4" style="display:none;">
        <p><strong>Promedio HISTÓRICO de libretas blancas: {{promedio_blanca}}</strong></p>
        <p><strong>Promedio HISTÓRICO de libretas amarillas: {{promedio_amarilla}}</strong></p>
        <p><strong>Promedio HISTÓRICO de libretras celestes: {{promedio_celeste}}</strong></p>
        <canvas id="chartLibretas" width="5" height="5"></canvas>

      </div>

    </div>
  </div>
</div>
{% endblock %}
<!--

estadisticas:

GESTION CURSOS

- promedio de inscriptos por curso .. OK
- promedio de cursos por año .. OK
- promedio de Calificaciones .. OK
- cantidad de libretas por tipo .. OK
- promedio de asistencias

-->

{% block scripts %}

<script src="{% static 'js/chart.js' %}"></script>

<script>


  /*
  FUNCIÓN PARA MOSTRAR DIV CORRESPONDIENTE AL CHECKBOX
  */
  function valueChanged()
  {
      if($('#opcion1').is(":checked"))
          $("#div-opcion1").show();
      else
          $("#div-opcion1").hide();

      if($('#opcion2').is(":checked"))
          $("#div-opcion2").show();
      else
          $("#div-opcion2").hide();

      if($('#opcion3').is(":checked"))
          $("#div-opcion3").show();
      else
          $("#div-opcion3").hide();

      if($('#opcion4').is(":checked"))
          $("#div-opcion4").show();
      else
          $("#div-opcion4").hide();
  }

  function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  }

  /*
  CHART GENERICO
  */

  var labels_list = JSON.parse('{{lista_labels|safe}}');
  var datos_list = JSON.parse('{{lista_datos|safe}}');

  $('canvas').each( function (index) {

    var ctx = $(this),
    labels = labels_list[index];
    datos = datos_list[index];

    var background_colors = []
    for (var i = 0, len = labels.length; i < len; i++) {
      background_colors.push(getRandomColor());
    }

    datasets = []
    $.each(datos, function(key, value){
      datasets.push({
        data: value,
        label: key,
        backgroundColor: background_colors,
        borderWidth: 1
        }
      )
    })

    var chart = new Chart(ctx, {
       type: 'bar',
       data: {
           labels: labels ,
           datasets: datasets
       },
       options: {
         scales: {
             yAxes: [{
                 ticks: {
                     beginAtZero:true,
                     stepSize: 1,
                 },
             }],
             xAxes: [{
               
             }]
         }
       }
    })
  });

</script>

{% endblock %}
