{% extends "easy_pdf/base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 10px;
        }
        table {
            margin: 0 auto;
            border: 1px solid black;
        }
        tr {
            text-align: center;
            border: 1px solid;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <table>
                <tr>
                    <td>
                        <p align="center"><strong>Municipalidad de Rawson</strong></p>
                        <p align="center">Capital de la Provincia del Chubut</p>
                        <table>
                            <tr>
                                <td>
                                    <p>TARJETA DE SANIDAD</p>
                                    {% if libreta.foto %}
                                        <img class="foto" src="{{ libreta.foto.url }}" height="96" width="96">
                                    {% endif %}
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Apellido:</td>
                                            <td><b>{{ libreta.persona.apellido }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Nombres:</td>
                                            <td><b>{{ libreta.persona.nombre }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>D.N.I:</td>
                                            <td><b>{{ libreta.persona.dni }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Nacionalidad:</td>
                                            <td><b>{{ libreta.persona.nacionalidad }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de Nacimiento:</td>
                                            <td><b>{{ libreta.persona.fecha_nacimiento }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Domicilio:</td>
                                            <td><b>{{ libreta.persona.domicilio }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Realizo curso:</td>
                                            {% if libreta.curso %}
                                                <td>SI - <b>{{ libreta.curso.fecha_inicio }}</b></td>
                                            {% else %}
                                                <td>NO</td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <p align="center"><strong>Tarjeta de Sanidad N°: {{ libreta.persona.dni }}</strong></p>
                        <br>
                        <p>En la Direccion de Veterinaria, Saneamiento y Abasto consta que el interesado hallase
                        exento de enfermedades contagiosas, segun CERTIFICADO, expedido por el/la Dr./Dra.
                        <b>{{ libreta.profesional_examen_clinico }}</b>.<br>
                        La presente vence el <b>{{ libreta.fecha_vencimiento }}</b><br>
                        Rawson, Chubut - {% now "l j F Y" %}</p>
                        <img src="{% static 'images/rawson.png' %}" height="96" width="96">
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}