{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Libretas Sanitarias{% endblock %}

{% block header-title %}Libretas Sanitarias{% endblock %}

{% block panel-title %}Libretas{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'libretas:nueva_libreta' %}" class="btn btn-sm btn-primary btn-create">Nueva Libreta</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Persona</th>
            <th>Tipo de Libreta</th>
            <th>Fecha de Vencimiento</th>
            <th>Estado</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for libreta in listado %}
            <tr>
                <td>{{ libreta.persona }}</td>
                <td>{{ libreta.tipo_libreta }}</td>
                <td>{{ libreta.fecha_vencimiento|default_if_none:"" }}</td>
                {% if libreta.fecha_vencimiento %}
                    {% if libreta.fecha_vencimiento < fecha_hoy %}
                        <td>Vencida</td>
                    {% else %}
                        <td>Al dia</td>
                    {% endif %}
                {% else %}
                    <td>Pendiente</td>
                {% endif %}
                <td>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'libretas:modificar_libreta' libreta.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    {% if user.is_staff %}
                        <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'libretas:borrar_libreta' libreta.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                    {% endif %}
                    {% if libreta.fecha_vencimiento %}
                        <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'libretas:detalle_libreta' libreta.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                        {% if libreta.pendiente %}
                            <a class="btn btn-success" data-toggle="tooltip" title="Completar tramite" href="{% url 'libretas:confirmar_renovacion' libreta.pk %}"><em class="glyphicon glyphicon-ok"></em></a>
                        {% else %}
                            <a class="btn btn-primary" data-toggle="tooltip" title="Renovar libreta" href="{% url 'libretas:renovar_libreta' libreta.pk %}"><em class="glyphicon glyphicon-refresh"></em></a>
                        {% endif %}
                    {% elif not libreta.fecha_vencimiento and libreta.pendiente %}
                        <a class="btn btn-success" data-toggle="tooltip" title="Completar tramite" href="{% url 'libretas:confirmar_libreta' libreta.pk %}"><em class="glyphicon glyphicon-ok"></em></a>
                    {% endif %}
                    {% if libreta.pendiente %}
                        <a class="btn btn-info" data-toggle="tooltip" title="Imprimir formulario" target="_blank" href="{% url 'libretas:pdf_formulario' libreta.pk %}"><em class="glyphicon glyphicon-list"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}