{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Libretas Sanitarias{% endblock %}

{% block header-title %}Alta/Modificacion de Libreta{% endblock %}

{% block url-volver %}{% url 'libretas:lista_libretas' %}{% endblock %}

{% block extra-buttons %}
    <div class="form-group meses-group">
        <label>Meses de validez *</label>
        <input type="number" name="meses" class="form-control" id="meses_validez" min="1" max="6">
    </div>
{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            {% include 'caja/cuadro_facturacion.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'libretas:lista_libretas' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/mov_config.js' %}"></script>
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        var tipo_libreta = $('#id_tipo_libreta'),
        meses_validez = $('#meses_validez');
        tipo_libreta.on('change', hideMeses);
        hideMeses();

        function hideMeses() {
            if (tipo_libreta.val() == 'Celeste') {
                meses_validez.parent().removeClass('hidden');
                meses_validez.prop('required', true);
            } else {
                meses_validez.parent().addClass('hidden');
                meses_validez.prop('required', false);
            }
        }
    </script>
{% endblock %}