{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Libretas{% endblock %}

{% block header-title %}Detalle de Libreta{% endblock %}

{% block url-volver %}{% url 'libretas:lista_libretas' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Fecha de Emisión:</td>
                <td>{{ object.fecha }}</td>
            </tr>
            <tr>
                <td>Apellido y Nombre:</td>
                <td>{{ object.persona.apellido }}, {{ object.persona.nombre }}</td>
            </tr>
            <tr>
                <td>Fecha de Aprobacion del Curso:</td>
                <td>{{ object.curso.fecha_inicio }}</td>
            </tr>
            <tr>
                <td>Observaciones:</td>
                <td>{{ object.observaciones }}</td>
            </tr>
            <tr>
                <td>Profesional de Examen Clínico:</td>
                <td>{{ object.profesional_examen_clinico }}</td>
            </tr>
            <tr>
                <td>Centro Clínico:</td>
                <td>{{ object.lugar_examen_clinico }}</td>
            </tr>
            <tr>
                <td>Fecha de Examen Clínico:</td>
                <td>{{ object.fecha_examen_clinico }}</td>
            </tr>
            <tr>
                <td>Tipo de Libreta:</td>
                <td>{{ object.tipo_libreta }}</td>
            </tr>
            <tr>
                <td>Fecha de Vencimiento:</td>
                <td>{{ object.fecha_vencimiento }}</td>
            </tr>
            {% if object.foto %}
                <tr>
                    <td>Foto:</td>
                    <td><img src="{{ object.foto.url }}" style="max-width:128px; max-height:128px"></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'libretas:pdf_libreta' object.pk %}" target="_blank" class="btn btn-warning" role="button">Imprimir Tarjeta</a>
    <a href="{% url 'libretas:lista_libretas' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
