{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Libretas{% endblock %}

{% block header-title %}Detalle de Libreta{% endblock %}

{% block url-volver %}{% url 'libretas:lista_libretas' %}{% endblock %}

{% block detail %}
  <p>Nombre de la persona: <i>{{ object.persona.nombre }}</i></p>
  <p>Fecha de aprobacion del curso: <i>{{ object.curso.fecha_inicio }}</i></p>
  <p>Observaciones: <i>{{ object.observaciones }}</i></p>  
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'libretas:lista_libretas' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
