{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        @page {
            margin: 30px;
        }
        body {
            font-size: 10px;
        }
        table {
            table-layout: fixed;
            width: 100%;
        }
        .tabla-principal {
            border: 2px solid black;
        }
        .firma tr, .tit, .td-foto {
            text-align: center;
        }
        .cara1 {
            border-right: 2px solid black;
        }
        .cara2 {
            padding: 0 10px 0 10px;
            border-left: 2px solid black;
        }
        .tit, .t-foto {
            font-size: 12px;
        }
        .firma td, .tit {
            line-height: 0.3;
        }
        .firma-vacio, .td-foto {
            width: 35%;
        }
        .cara1, .td-foto {
            vertical-align: text-top;
        }
        .foto {
            max-height: 96px;
            max-width: 96px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <table class="tabla-principal">
                <tr>
                    <td class="cara1">
                        <div class="tit">
                            <p><b>Municipalidad de Rawson</b></p>
                            <p>Capital de la Provincia del Chubut</p>
                        </div>
                        <table>
                            <tr>
                                <td class="td-foto">
                                    <p class="t-foto">TARJETA DE SANIDAD</p>
                                    {% if libreta.foto %}
                                        <img class="foto" src="{{ libreta.foto.url }}" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Apellido: <b>{{ libreta.persona.apellido }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Nombres: <b>{{ libreta.persona.nombre }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>D.N.I: <b>{{ libreta.persona.dni }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Nacionalidad: <b>{{ libreta.persona.nacionalidad }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de nacimiento: <b>{{ libreta.persona.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Domicilio: <b>{{ libreta.persona.domicilio }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Realizo curso:
                                                <b>{% if libreta.curso %}
                                                    SI - {{ libreta.curso.fecha }}
                                                {% else %}
                                                    NO
                                                {% endif %}</b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="cara2">
                        <p class="tit"><b>Tarjeta de Sanidad N°: {{ libreta.persona.dni }}</b></p><br>
                        <div class="texto">
                            <p>En la Direccion de Veterinaria, Saneamiento y Abasto consta que el interesado hallase
                            exento de enfermedades contagiosas, segun CERTIFICADO, expedido por el/la Dr./Dra.
                            <b>{{ libreta.profesional_examen_clinico }}</b>.<br>
                            La presente vence el <b>{{ libreta.fecha_vencimiento }}</b><br>
                            Rawson, Chubut - {% now "l j F Y" %}</p><br><br><br>
                        </div>
                        <table class="firma">
                            <tr>
                                <td class="firma-vacio"></td>
                                <td>
                                    <p><b>SANDRA GERMILLAC</b></p>
                                    <p><b>Dpto. Administrativo</b></p>
                                    <p><b>Abasto, Saneamiento y Veterinaria</b></p>
                                    <p><b>Municipalidad de Rawson</b></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
