{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Libretas Sanitarias{% endblock %}

{% block header-title %}Alta/Modificacion de Libreta{% endblock %}

{% block url-volver %}{% url 'libretas:lista_libretas' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            {% include 'caja/cuadro_facturacion.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'libretas:lista_libretas' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}