{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Libretas Sanitarias{% endblock %}

{% block header-title %}Libretas Sanitarias{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Libretas{% endblock %}


{% block btn-nuevo %}
    <a href="{% url 'libretas:nueva_libreta' %}" class="btn btn-sm btn-primary btn-create">Nueva Libreta</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Persona</th>
            <th>Curso</th>
            <th>Observaciones</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for libreta in listado %}
            <tr>
                <td>{{ libreta.persona }}</td>
                {% if persona.curso %}
                    <td>{{ libreta.curso }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ libreta.observaciones }}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'libretas:detalle_libreta' libreta.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'libretas:modificar_libreta' libreta.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    {% if user.is_staff %}
                        <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'libretas:borrar_libreta' libreta.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
