{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Sacrificios/Entregas{% endblock %}

{% block header-title %}Sacrificios/Entregas de Mascotas{% endblock %}

{% block panel-title %}Sacrificios/Entregas{% endblock %}

{% block btn-nuevo %}
    <a href=" {% url 'sacrificios_entregas:nuevo_tramite' %}" class="btn btn-sm btn-primary btn-create">Nuevo Sacrificio/Entrega</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Interesado</th>
            <th>Mascota</th>
            <th>Patente</th>
            <th>Trámite</th>
            <th>Observaciones</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for tramite in listado %}
            <tr>
                <td>{{ tramite.fecha }}</td>
                <td>{{ tramite.interesado }}</td>
                <td>{{ tramite.mascota }}</td>
                <td>{{ tramite.patente|default_if_none:"" }}</td>
                <td>{{ tramite.tramite }}</td>
                <td>{{ tramite.observaciones }}</td>
                <td>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'sacrificios_entregas:modificar_tramite' tramite.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
