{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Retiros/Entregas{% endblock %}

{% block header-title %}Retiros/Entregas de Mascotas{% endblock %}

{% block panel-title %}Retiros/Entregas{% endblock %}

{% block btn-nuevo %}
    <a href=" {% url 'retiros_entregas:nuevo_tramite' %}" class="btn btn-sm btn-primary btn-create">Nuevo Retiro/Entrega</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Interesado</th>
            <th>Mascota</th>
            <th>Trámite</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tramite in listado %}
            <tr>
                <td>{{ tramite.interesado }}</td>
                <td>{{ tramite.mascota }}</td>
                <td>{{ tramite.tramite }}</td>
                <td>{{ tramite.observaciones }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
