{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Retiros/Entregas{% endblock %}

{% block header-title %}Retiros/Entregas de Mascotas{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Retiros/Entregas{% endblock %}


{% block btn-nuevo %}
    <a href=" {% url 'retiros_entregas:nuevo__retiro_entrega' %}" class="btn btn-sm btn-primary btn-create">Nuevo Retiro/Entrega</a>
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-list">
        <thead>
        <tr>
            <th>Interesado</th>
            <th>Mascota</th>
            <th>Observaciones</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for control in filter.qs %}
            <tr>
                <td>{{ control.interesado }}</td>
                <td>{{ control.mascota }}</td>
                <td>{{ control.observaciones }}</td>
                <td align="center">

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
