{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Retiro/Entrega{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/alta_retiroEntrega.css' %}"/>
{% endblock %}

{% block header-title %}Retiro/Entrega de animales{% endblock %}

{% block url-volver %}{% url 'retiros_entregas:nuevo_tramite' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-botom-right">
            {% include 'mascota/cuadro_mascota.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'retiros_entregas:lista_retiro_entrega' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}