{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Retiro/Entrega{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/alta_retiroEntrega.css' %}"/>
{% endblock %}

{% block header-title %}Retiro/Entrega de animales{% endblock %}

{% block url-volver %}{% url 'retiros_entregas:lista_retiro_entrega' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Trámite">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Informacion">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Confirmacion">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <h3>Trámite</h3>
                                {% for field in tramite_form %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                    </div>
                                {% endfor %}
                                {% for field in mascota_patente_form %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                    </div>
                                {% endfor %}
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-primary next-step">Siguiente</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <h3>Informacion</h3>
                                    <div class="panel panel-default" id="panel-retiro-entrega">
                                        <div class="panel-body">
                                            {% for field in mascota_form %}
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {{ field|add_class:'form-control' }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="panel panel-default" id="panel-adopcion">
                                        <div class="panel panel-default col-md-6">
                                            <div class="panel-heading">Persona</div>
                                            <div class="panel-body">
                                                {% for field in patente_form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field|add_class:'form-control' }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="panel panel-default col-md-6">
                                            <div class="panel-heading">Mascota</div>
                                            <div class="panel-body">
                                                {% for field in mascota_form %}
                                                    <div class="form-group">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        {{ field|add_class:'form-control' }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Siguiente</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <h3>Confirmacion</h3>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Finalizar</button></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'retiros_entregas:lista_retiro_entrega' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                nextTab($active);

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }

        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }

        var $selectTramite = $('#id_tramite'),
        $panelRetiroEntrega = $('#panel-retiro-entrega'),
        $panelAdopcion = $('#panel-adopcion')
        $selectPersona = $('#id_persona');

        $selectTramite.on('change', setPanel);
        setPanel();

        function setPanel() {
            tramite = $selectTramite.val()
            switch(tramite) {
                case 'ENTREGA':
                    $panelRetiroEntrega.show();
                    $panelAdopcion.hide();
                    break;
                case 'RETIRO':
                    $panelRetiroEntrega.show();
                    $panelAdopcion.hide();
                    break;
                case 'ADOPCION':
                    $panelRetiroEntrega.hide();
                    $panelAdopcion.show();
                    break;
            }
        }

        var $selectInteresado = $('#id_interesado'),
        $selectMascota = $('#id_mascota');

        $selectInteresado.on('change', setOptionsSelect);
        setOptionsSelect();

        function setOptionsSelect() {
            var pk_interesado = $selectInteresado.val();
            if(pk_interesado) {
                $.ajax({
                    url: 'getMascotas/' + pk_interesado + '/',
                    data: 'json',
                    success: function(data){
                        var $mascotas = $('#id_mascota').selectize();
                        var selector = $mascotas[0].selectize;
                        selector.clearOptions();
                        $.each(data, function(key, opt) {
                            selector.addOption({value: opt['value'], text: opt['text']});
                        })
                    },
                    error: function(err){
                        alert("Fallo Ajax");
                    }
                });
            }
        }
    </script>
{% endblock %}