{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Sacrificio/Entrega de animales{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/parsley.css' %}"/>
{% endblock %}

{% block header-title %}Sacrificio/Entrega de animales{% endblock %}

{% block url-volver %}{% url 'sacrificios_entregas:lista_retiro_entrega' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post" class="tramite-form">
            {% csrf_token %}
            <div class="form-section">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Trámite *</label>
                            {{ form.tramite|add_class:'form-control' }}
                            {% for error in form.tramite.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>Observaciones</label>
                            {{ form.observaciones|add_class:'form-control' }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.patentado.id_for_label }}">Patentado</label>
                            {{ form.patentado|add_class:'form-control' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group form-patentado">
                            <label for="{{ patentes_form.patente.id_for_label }}">Patente</label>
                            {{ patentes_form.patente|add_class:'form-control' }}
                            {% for error in patentes_form.patente.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-md-7 form-no-patentado">
                            <div class="form-group">
                                <label for="{{ personas_form.persona.id_for_label }}">Interesado</label>
                                {{ personas_form.persona|add_class:'form-control' }}
                                {% for error in personas_form.persona.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 form-no-patentado">
                            {% include 'mascota/cuadro_mascota.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-navigation">
                <button type="button" class="previous btn btn-info pull-left">&lt; Anterior</button>
                <button type="button" class="next btn btn-info pull-right">Siguiente &gt;</button>
                <input type="submit" class="btn btn-success pull-right" value="Finalizar"
                       onclick="return confirm('Se guardaran los datos ingresados. ¿Desea continuar?')">
                <span class="clearfix"></span>
            </div>
        </form>
    </div>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/parsley.js' %}"></script>
    <script src="{% static 'js/118n/es.js' %}"></script>
    <script>
        $(function () {
            var $sections = $('.form-section');

            function navigateTo(index) {
                // Mark the current section with the class 'current'
                $sections
                    .removeClass('current')
                    .eq(index)
                    .addClass('current');
                // Show only the navigation buttons that make sense for the current section:
                $('.form-navigation .previous').toggle(index > 0);
                var atTheEnd = index >= $sections.length - 1;
                $('.form-navigation .next').toggle(!atTheEnd);
                $('.form-navigation [type=submit]').toggle(atTheEnd);

                if (index === 1) {
                    if ($('#id_patentado').is(':checked')) {
                        $('.form-patentado :input').prop('required', true);
                        $('.form-no-patentado :input').prop('required', false);
                        $('.form-patentado').removeClass('hidden');
                        $('.form-no-patentado').addClass('hidden');
                    } else {
                        $('.form-patentado :input').prop('required', false);
                        $('.form-no-patentado :input').prop('required', true);
                        $('.form-patentado').addClass('hidden');
                        $('.form-no-patentado').removeClass('hidden');
                    }
                }
            }

            function curIndex() {
                // Return the current index by looking at which section has the class 'current'
                return $sections.index($sections.filter('.current'));
            }

            // Previous button is easy, just go back
            $('.form-navigation .previous').click(function() {
                navigateTo(curIndex() - 1);
            });

            // Next button goes forward iff current block validates
            $('.form-navigation .next').click(function() {
                $('.tramite-form').parsley().whenValidate({
                    group: 'block-' + curIndex()
                }).done(function() {
                    navigateTo(curIndex() + 1);
                });
            });

            // Prepare sections by setting the `data-parsley-group` attribute to 'block-0', 'block-1', etc.
            $sections.each(function(index, section) {
                $(section).find(':input').attr('data-parsley-group', 'block-' + index);
            });

            navigateTo(0); // Start at the beginning

            $('#id_patentado').checkboxradio();
        });
    </script>
{% endblock %}