{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Nuevo Arqueo Diario de Caja{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/arqueo_caja.css' %}"/>
{% endblock %}

{% block header-title %}Nuevo Arqueo Diario de Caja{% endblock %}

{% block url-volver %}{% url 'arqueo:lista_arqueos' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group form-inline" style="margin-left: 15px;">
                        <label>{{ form.nro_planilla.label }} *</label>
                        {{ form.nro_planilla|add_class:'form-control' }}
                        {% for error in form.nro_planilla.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Recuento manual</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Valor</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for field in form %}
                                            {% if field.label != "N° de planilla" and field.label != "Total de recuento manual"%}
                                                <tr>
                                                    <td>{{ field.label }}</td>
                                                    <td>{{ field|add_class:'form-control'|add_class:'cant_efectivo_manual' }}</td>
                                                    <td align="center">$<span class="sub_valor_manual" id="efectivo_{{ forloop.counter0 }}">0,00</span></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td>Débito/Crédito</td>
                                            <td>{{ form_otros.tarjeta_cant|add_class:'form-control' }}</td>
                                            <td>{{ form_otros.tarjeta_sub|add_class:'form-control'|add_class:'sub_otros_manual' }}</td>
                                        </tr>
                                        <tr>
                                            <td>Cheques</td>
                                            <td>{{ form_otros.cheques_cant|add_class:'form-control' }}</td>
                                            <td>{{ form_otros.cheques_sub|add_class:'form-control'|add_class:'sub_otros_manual' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group form-inline">
                                    <label>{{ form.total_manual.label }}</label>
                                    {{ form.total_manual|add_class:'form-control'|add_class:'sub_manual'|attr:'readonly' }}
                                    {% for error in form.total_manual.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Recuento de sistema</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Valor</th>
                                            <th>Operaciones</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Efectivo</td>
                                            <td align="center"><span>{{ ingresos_varios.efectivo_mov }}</span></td>
                                            <td align="center">$<span class="sub_valor_sistema">{{ ingresos_varios.efectivo_imp }}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Débito/Crédito</td>
                                            <td align="center"><span>{{ ingresos_varios.tarjeta_mov }}</span></td>
                                            <td align="center">$<span class="sub_valor_sistema">{{ ingresos_varios.tarjeta_imp }}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Cheques</td>
                                            <td align="center"><span>{{ ingresos_varios.cheque_mov }}</span></td>
                                            <td align="center">$<span class="sub_valor_sistema">{{ ingresos_varios.cheque_imp }}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <b>Total de operaciones registradas en el sistema: {{ ingresos_varios.total_mov }}</b><br>
                                <b>Total de recuento de sistema: ${{ ingresos_varios.total_imp }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar"
                           onclick="return confirm('Se guardaran los datos ingresados. ¿Desea continuar?')">
                    {% block btn-cancelar %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/arqueo_caja.js' %}"></script>
    <script>
        $(':input[type=number]').on('mousewheel', function(e){
            e.preventDefault();
        });
    </script>
{% endblock %}