{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Arqueo Diario de Caja{% endblock %}

{% block header-title %}Arqueo Diario de Caja{% endblock %}

{% block panel-title %}Arqueos diarios{% endblock %}

{% block btn-nuevo %}
    {% if not realizado %}
        <a href="{% url 'arqueo:nuevo_arqueo' %}" class="btn btn-primary btn-create">Realizar Arqueo Diario</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>N° de Planilla</th>
            <th>Total</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for arqueo in listado %}
            <tr>
                <td>{{ arqueo.fecha }}</td>
                <td>{{ arqueo.nro_planilla }}</td>
                <td>${{ arqueo.total_manual }}</td>
                <td>
                    <a class="btn btn-info" data-toggle="tooltip" title="Detalle" href="{% url 'arqueo:detalle_arqueo' arqueo.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Imprimir arqueo" href="{% url 'arqueo:arqueo_pdf' arqueo.pk %}"><em class="glyphicon glyphicon-print"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}