{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Arqueo Diario{% endblock %}

{% block header-title %}Arqueo Diario - {{ arqueo.fecha }} - N° de Planilla: {{ arqueo.nro_planilla }}{% endblock %}

{% block url-volver %}{% url 'arqueo:lista_arqueos' %}{% endblock %}

{% block detail %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-md-6">
                    <h3 class="panel-title">Recuento Manual</h3>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo de Valor</th>
                        <th>Cant. movimientos</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Billetes quinientos</td>
                        <td id="id_billetes_quinientos">{{ arqueo.billetes_quinientos }}</td>
                        <td id="efectivo_1"></td>
                    </tr>
                    <tr>
                        <td>Billetes doscientos</td>
                        <td id="id_billetes_doscientos">{{ arqueo.billetes_doscientos }}</td>
                        <td id="efectivo_2"></td>
                    </tr>
                    <tr>
                        <td>Billetes cien</td>
                        <td id="id_billetes_cien">{{ arqueo.billetes_cien }}</td>
                        <td id="efectivo_3"></td>
                    </tr>
                    <tr>
                        <td>Billetes cincuenta</td>
                        <td id="id_billetes_cincuenta">{{ arqueo.billetes_cincuenta }}</td>
                        <td id="efectivo_4"></td>
                    </tr>
                    <tr>
                        <td>Billetes veinte</td>
                        <td id="id_billetes_veinte">{{ arqueo.billetes_veinte }}</td>
                        <td id="efectivo_5"></td>
                    </tr>
                    <tr>
                        <td>Billetes diez</td>
                        <td id="id_billetes_diez">{{ arqueo.billetes_diez }}</td>
                        <td id="efectivo_6"></td>
                    </tr>
                    <tr>
                        <td>Billetes cinco</td>
                        <td id="id_billetes_cinco">{{ arqueo.billetes_cinco }}</td>
                        <td id="efectivo_7"></td>
                    </tr>
                    <tr>
                        <td>Billetes dos</td>
                        <td id="id_billetes_dos">{{ arqueo.billetes_dos }}</td>
                        <td id="efectivo_8"></td>
                    </tr>
                    <tr>
                        <td>Monedas dos</td>
                        <td id="id_monedas_dos">{{ arqueo.monedas_dos }}</td>
                        <td id="efectivo_9"></td>
                    </tr>
                    <tr>
                        <td>Monedas uno</td>
                        <td id="id_monedas_uno">{{ arqueo.monedas_uno }}</td>
                        <td id="efectivo_10"></td>
                    </tr>
                    <tr>
                        <td>Monedas cincuenta</td>
                        <td id="id_monedas_cincuenta">{{ arqueo.monedas_cincuenta }}</td>
                        <td id="efectivo_11"></td>
                    </tr>
                    <tr>
                        <td>Monedas veinticinco</td>
                        <td id="id_monedas_veinticinco">{{ arqueo.monedas_veinticinco }}</td>
                        <td id="efectivo_12"></td>
                    </tr>
                    <tr>
                        <td>Débito/Crédito</td>
                        <td>{{ arqueo.debito_credito_cant }}</td>
                        <td>${{ arqueo.debito_credito_sub }}</td>
                    </tr>
                    <tr>
                        <td>Cheques</td>
                        <td>{{ arqueo.cheques_cant }}</td>
                        <td>${{ arqueo.cheques_sub }}</td>
                    </tr>
                    <br>
                    <tr>
                        <td><b>TOTAL DE RECUENTO MANUAL:</b></td>
                        <td></td>
                        <td><b>${{ arqueo.total_manual }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-md-6">
                    <h3 class="panel-title">Recuento del Sistema</h3>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo de Valor</th>
                        <th>Cant. movimientos</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Efectivo</td>
                        <td>{{ arqueo.mov_efectivo_sis }}</td>
                        <td>${{ arqueo.sub_efectivo_sis }}</td>
                    </tr>
                    <tr>
                        <td>Débito/Crédito</td>
                        <td>{{ arqueo.mov_tarjeta_sis }}</td>
                        <td>${{ arqueo.sub_tarjeta_sis }}</td>
                    </tr>
                    <tr>
                        <td>Cheques</td>
                        <td>{{ arqueo.mov_cheque_sis }}</td>
                        <td>${{ arqueo.sub_cheque_sis }}</td>
                    </tr>
                    <br>
                    <tr>
                        <td><b>TOTAL DE RECUENTO DE SISTEMA:</b></td>
                        <td></td>
                        <td><b>${{ arqueo.imp_total_sistema }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'arqueo:lista_arqueos' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        console.log($('#id_billetes_doscientos').text());
        $('#efectivo_1').text('$' + $('#id_billetes_quinientos').text() * 500);
        $('#efectivo_2').text('$' + $('#id_billetes_doscientos').text() * 200);
        $('#efectivo_3').text('$' + $('#id_billetes_cien').val() * 100);
        $('#efectivo_4').text('$' + $('#id_billetes_cincuenta').text() * 50);
        $('#efectivo_5').text('$' + $('#id_billetes_veinte').text() * 20);
        $('#efectivo_6').text('$' + $('#id_billetes_diez').text() * 10);
        $('#efectivo_7').text('$' + $('#id_billetes_cinco').text() * 5);
        $('#efectivo_8').text('$' + $('#id_billetes_dos').text() * 2);
        $('#efectivo_9').text('$' + $('#id_monedas_dos').text() * 2);
        $('#efectivo_10').text('$' + $('#id_monedas_uno').text() * 1);
        $('#efectivo_11').text('$' + $('#id_monedas_cincuenta').text() * 0.50);
        $('#efectivo_12').text('$' + $('#id_monedas_veinticinco').text() * 0.25);
    </script>
{% endblock %}