{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Parte Diario de Caja{% endblock %}

{% block header-title %}Parte Diario de Caja{% endblock %}

{% block panel-title %}Movimientos diarios{% endblock %}

{% block btn-nuevo %}
    <form class="form-inline" method="post" style="margin: 0px">
        {% csrf_token %}
        {{ fecha_form.media }}
        {% for field in fecha_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" name="buscar" value="1"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        <button type="submit" class="btn btn-warning" name="imprimir" value="1"><span class="glyphicon glyphicon-print"></span> Imprimir</button>
    </form>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>N° Ingresos Varios</th>
            <th>Titular</th>
            <th>Forma de Pago</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in listado %}
            <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.nro_ingreso }}</td>
                <td>{{ movimiento.titular }}</td>
                <td>{{ movimiento.forma_pago }}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'caja:detalle_movimiento' movimiento.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block more-scripts %}
    <script>
        $('#id_fecha').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            maxDate: new Date(),
            disabledWeekDays:[0]
        });
        $.datetimepicker.setLocale('es');
    </script>
{% endblock %}