{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Parte Diario de Caja{% endblock %}

{% block header-title %}Parte Diario de Caja{% endblock %}

{% block panel-title %}Movimientos diarios del dia {{ fecha|date:"SHORT_DATE_FORMAT" }}{% endblock %}

{% block btn-nuevo %}
    <form class="form-inline" method="post" style="margin: 0">
        {% csrf_token %}
        {{ fecha_form.media }}
        {% for field in fecha_form %}
            <div class="input-group">
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                <span class="input-group-btn">
                    <button id="id_btn_buscar" class="btn btn-primary" type="submit">Buscar</button>
                </span>
            </div>
        {% endfor %}
        <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-print"></span> Imprimir <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'caja:pdf_parte_diario' fecha.year fecha.month fecha.day "Manana" %}" target="_blank">Turno Mañana</a></li>
                <li><a href="{% url 'caja:pdf_parte_diario' fecha.year fecha.month fecha.day "Tarde" %}" target="_blank">Turno Tarde</a></li>
                <li><a href="{% url 'caja:pdf_parte_diario' fecha.year fecha.month fecha.day "Completo" %}" target="_blank">Dia Completo</a></li>
            </ul>
        </div>
    </form>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>N° Ingresos Varios</th>
            <th>Titular</th>
            <th>Forma de Pago</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in listado %}
            <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.nro_ingreso }}</td>
                <td>{{ movimiento.titular }}</td>
                <td>{{ movimiento.forma_pago }}</td>
                <td>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'caja:modificar_movimiento' movimiento.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'caja:detalle_movimiento' movimiento.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}