{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Datos de Facturacion</h3>
    </div>
    <div class="panel-body">
        <div id="radio_options">
            <div class="radio">
                <label><input type="radio" name="optradio" value="previa" checked>Factura previa</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" value="nueva">Nueva factura</label>
            </div>
        </div>
        <br>
        <div class="previa">
            <div class="form-group">
                <label>{{ detalle_mov_form.movimiento.label }}</label>
                {{ detalle_mov_form.movimiento|add_class:'form-control' }}
                {% for error in detalle_mov_form.movimiento.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="nueva">
            <div class="form-group">
                <label>{{ mov_form.titular.label }}</label>
                {{ mov_form.titular }}
            </div>
            <div class="form-group">
                <label>{{ mov_form.nro_ingreso.label }}</label>
                {{ mov_form.nro_ingreso|add_class:'form-control' }}
                {% for error in mov_form.nro_ingreso.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>{{ mov_form.forma_pago.label }}</label>
                {{ mov_form.forma_pago }}
            </div>
            <div class="form-group">
                <label>{{ mov_form.nro_cheque.label }}</label>
                {{ mov_form.nro_cheque|add_class:'form-control' }}
                {% for error in mov_form.nro_cheque.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        {% for field in servicio_form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/mov_config.js' %}"></script>
