{% load staticfiles %}

{% block extra_style %}
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        @page {
            size: landscape;
        }
        body {
            font-size: 9px;
        }
        .titulo {
            text-align: center;
            font-size: 20px;
        }
        table {
            margin: 0 auto;
            width: 100%;
        }
        .detalles, .subtotales {
            border: 1px solid black;
        }
        .detalles th {
            border: 1px solid black;
        }
        td, th {
            text-align: center;
        }
        .val-sub {
            text-align: right;
        }
        .logo {
            max-height: 64px;
            max-width: 64px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <img class="logo" src="{% static 'images/rawson.png' %}" alt="">
            <p class="titulo"><b>Parte Diario de Caja - Ingresos Varios<br>
            Fecha de Rendicion {{ fecha_maniana }}</b></p>
            <table class="detalles">
                <thead>
                    <tr>
                        <th><b>N° INGRESO</b></th>
                        <th><b>TITULAR</b></th>
                        <th><b>FORMA DE PAGO</b></th>
                        <th><b>N° CHEQUE</b></th>
                        <th><b>IMPORTE</b></th>
                        <th><b>DETALLE</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{ detalle.movimiento.nro_ingreso }}</td>
                            <td>{{ detalle.movimiento.titular }}</td>
                            <td>{{ detalle.movimiento.forma_pago }}</td>
                            <td>{{ detalle.movimiento.nro_cheque|default_if_none:"" }}</td>
                            <td>${{ detalle.importe }}</td>
                            <td>{{ detalle.descripcion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <table class="subtotales">
                <tbody>
                    <tr>
                        <td>Subtotal Efectivo</td>
                        <td></td>
                        <td></td>
                        <td>$</td>
                        <td class="val-sub">{{ subtotales.efectivo }}</td>
                    </tr>
                    <tr>
                        <td>Subtotal Tarjeta</td>
                        <td></td>
                        <td></td>
                        <td>$</td>
                        <td class="val-sub">{{ subtotales.tarjeta }}</td>
                    </tr>
                    <tr>
                        <td>Subtotal Cheque</td>
                        <td></td>
                        <td></td>
                        <td>$</td>
                        <td class="val-sub">{{ subtotales.cheque }}</td>
                    </tr>
                    <tr>
                        <td><b>TOTAL GENERAL</b></td>
                        <td></td>
                        <td></td>
                        <td><b>$</b></td>
                        <td class="val-sub"><b>{{ total }}</b></td>
                    </tr>
                </tbody>
            </table>
            <table class="firma">
                <tbody>
                    <tr  style="height:50px; vertical-align:bottom">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>................................</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Sello y firma</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}