{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Disposicion de Habilitacion de Criadero de Cerdos{% endblock %}

{% block header-title %}Disposicion de Habiltación de Criadero de Cerdos{% endblock %}

{% block url-volver %}{% url 'criadero:lista_solicitudes' %}{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'criadero:lista_solicitudes' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}