{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Habilitación de Criadero de Cerdos{% endblock %}

{% block header-title %}Habilitación de Criadero de Cerdos{% endblock %}

{% block panel-title %}Solicitudes{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'criadero:nueva_solicitud' %}" class="btn btn-sm btn-primary btn-create">Nueva Solicitud</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha de Solicitud</th>
            <th>Interesado</th>
            <th>Domicilio del Criadero</th>
            <th>Estado</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud in listado %}
            <tr>
                <td>{{ solicitud.fecha_solicitud }}</td>
                <td>{{ solicitud.interesado }}</td>
                <td>{{ solicitud.domicilio_criadero }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'criadero:detalle_solicitud' solicitud.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'criadero:borrar_solicitud' solicitud.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                    {% if not solicitud.estado == 'Aprobada' %}
                        <a class="btn btn-info" data-toggle="tooltip" title="Aplazar" href="{% url 'criadero:aplazo_solicitud' solicitud.pk %}"><em class="glyphicon glyphicon-remove"></em></a>
                        <a class="btn btn-success" data-toggle="tooltip" title="Registrar disposicion" href="{% url 'criadero:nueva_disposicion' solicitud.pk %}"><em class="glyphicon glyphicon-ok"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}