{% extends "base/base_detail.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle de solicitud{% endblock %}

{% block header-title %}Detalle de Solicitud{% endblock %}

{% block url-volver %}{% url 'criadero:lista_solicitudes' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Fecha de Solicitud:</td>
                <td>{{ solicitud.fecha_solicitud }}</td>
            </tr>
            <tr>
                <td>Interesado:</td>
                <td>{{ solicitud.interesado.apellido }}, {{ solicitud.interesado.nombre }}</td>
            </tr>
            <tr>
                <td>DNI de interesado:</td>
                <td>{{ solicitud.interesado.dni }}</td>
            </tr>
            <tr>
                <td>Domicilio de interesado:</td>
                <td>{{ solicitud.interesado.domicilio }}</td>
            </tr>
            <tr>
                <td>Categoria del Criadero:</td>
                <td>{{ solicitud.categoria_criadero }}</td>
            </tr>
            <tr>
                <td>Domicilio del criadero:</td>
                <td>{{ solicitud.domicilio_criadero }}</td>
            </tr>
            <tr>
                <td>Estado:</td>
                <td>{{ solicitud.estado }}</td>
            </tr>
            {% if solicitud.estado == 'Aprobada' %}
                <tr>
                    <td>N° de disposicion:</td>
                    <td>{{ disposicion.nro_disposicion }}</td>
                </tr>
                <tr>
                    <td>Fecha de disposicion:</td>
                    <td>{{ disposicion.fecha_disposicion }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    {% if aplazos %}
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <h3 class="panel-title">Aplazos de Solicitud</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-listado">
                    <thead>
                        <tr>
                            <th>Fecha de Aplazo</th>
                            <th>Motivo de Aplazo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aplazo in aplazos %}
                            <tr align="center">
                                <td>{{ aplazo.fecha_aplazo }}</td>
                                <td>{{ aplazo.motivo_aplazo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block btn-footer %}
    {% if not solicitud.estado == "Aprobada" %}
        <a href="{% url 'criadero:pdf_solicitud' solicitud.pk%}" target="_blank" class="btn btn-warning">Imprimir</a>
    {% endif %}
    <a href="{% url 'criadero:lista_solicitudes' %}" class="btn btn-primary">Regresar</a>
{% endblock %}