{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Solicitud de Habilitación{% endblock %}

{% block header-title %}Solicitud de Habiltación de Criadero de Cerdos{% endblock %}

{% block url-volver %}{% url 'criadero:lista_solicitudes' %}{% endblock %}

{% block form-right %}
    <div class="panel panel-default col-xs-12 col-md-5" id="container-form-right">
        <div class="panel-heading domicilio-title">Domicilio del Criadero</div>
        <div class="panel-body">
            {% for field in domicilio_form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'criadero:lista_solicitudes' %}">Cancelar</a>
{% endblock %}
