{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Solicitud de Habilitación{% endblock %}

{% block header-title %}Solicitud de Habiltación de Criadero de Cerdos{% endblock %}

{% block url-volver %}{% url 'criadero:lista_solicitudes' %}{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5" id="container-form-right">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Domicilio del Criadero</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Chacra *</label>
                            {{ domicilio_form.chacra|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Parcela</label>
                            {{ domicilio_form.parcela|add_class:'form-control' }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sector</label>
                            {{ domicilio_form.sector|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Circunscripción</label>
                            {{ domicilio_form.circunscripcion|add_class:'form-control' }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ruta</label>
                            {{ domicilio_form.ruta|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>KM</label>
                            {{ domicilio_form.km|add_class:'form-control' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'criadero:lista_solicitudes' %}">Cancelar</a>
{% endblock %}
