{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Desinfeccion{% endblock %}

{% block header-title %}Desinfecciones{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Desinfeccion{% endblock %}

{% block btn-nuevo %}
<a href="{% url 'desinfecciones:nueva_desinfeccion' %}" class="btn btn-sm btn-primary btn-create">Nueva Desinfeccion</a>
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-hover table-list">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Quincena</th>
            <th>Transporte</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for desinfeccion in filter.qs %}
            <tr align="center">
                <td>{{ desinfeccion.fecha }}</td>
                <td>{{ desinfeccion.quincena }}</td>
                <td>{{ desinfeccion.transporte }}</td>
                <td align="center">
                  <a class="btn btn-warning" href="#"><em class="glyphicon glyphicon-edit"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block more-scripts %}
{% endblock %}
