{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Desinfecciones{% endblock %}

{% block header-title %}Alta/Modificacion de Desinfeccion{% endblock %}

{% block url-volver %}{% url 'desinfecciones:lista_desinfecciones' pk_vehiculo %}{% endblock %}

{% block form-left %}
    {% if modificacion %}
        <div class="form-group">
            Justificactivo: {{ form.justificativo|add_class:'form-control' }}
        </div>
    {% else %}
        {% if estado == 'Atrasado' %}
            <div class="msg">La desinfeccion se esta realizando fuera de término. Se cobrara un recargo</div>
            <br>
            {% if tipo_vehiculo == 'TSA' %}
                <p>Si el responsable puede justificar el retraso, complete el campo a continuacion</p>
                <div class="form-group">
                    {{ form.justificativo|add_class:'form-control' }}
                </div>
            {% endif %}
        {% endif %}
        <div class="msg">¿Desea confirmar la realizacion de la desinfeccion?</div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'desinfecciones:lista_desinfecciones' pk_vehiculo %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $('#id_turno').datetimepicker({
            format:'d/m/Y H:i',
            step:30,
            minDate: new Date(),
            disabledWeekDays:[0]
        });

        $.datetimepicker.setLocale('es');
    </script>
{% endblock %}