{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Desinfecciones{% endblock %}

{% block header-title %}Alta/Modificacion de Desinfeccion{% endblock %}

{% block url-volver %}{% url 'desinfecciones:lista_desinfecciones' vehiculo.pk %}{% endblock %}

{% block form-left %}
    {% if modificacion and vehiculo.tipo_vehiculo == 'TSA' %}
        <div class="form-group">
            Justificactivo: {{ form.justificativo|add_class:'form-control' }}
        </div>
    {% else %}
        {% if estado == 'Atrasado' %}
            <div class="msg">La desinfeccion se esta realizando fuera de término. Se cobrara un recargo</div>
            <br>
            {% if vehiculo.tipo_vehiculo == 'TSA' %}
                <p>Si el responsable puede justificar el retraso, complete el campo a continuacion</p>
                <div class="form-group">
                    {{ form.justificativo|add_class:'form-control' }}
                </div>
            {% endif %}
        {% endif %}
        {% include 'caja/cuadro_facturacion.html' %}
        <div class="msg">¿Desea confirmar la realizacion de la desinfeccion?</div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'desinfecciones:lista_desinfecciones' vehiculo.pk %}">Cancelar</a>
{% endblock %}
