{% extends 'base/base_form.html' %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Análisis de Triquinósis{% endblock %}

{% block more-stylesheets %}
    <style>
        tr th, td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block header-title %}Alta/Modificacion de Análisis{% endblock %}

{% block url-volver %}{% url 'analisis:lista_analisis' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post" enctype="multipart/form-data" id="form-base">
            {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-6">
                        {{ form.media }}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span style="color:red;" class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if not modificacion %}
                            {% include 'caja/cuadro_facturacion.html' %}
                        {% endif %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
                        {% endif %}
                    </div>
                    {% if not resultado %}
                        <div class="col-xs-12 col-md-6">
                            <div class="panel panel-info panel-table">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3 col-md-3">
                                            <h3 class="panel-title">Porcinos</h3>
                                        </div>
                                        {% if not modificacion %}
                                            <div class="col-xs-3 col-md-3 pull-right">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="false" data-target="#agregar_porcino">Nuevo</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="container-fluid container-table">
                                        <table class="table table-list table-bordered table-striped" id="table-list">
                                            <thead>
                                                <tr>
                                                    <th>Categoria</th>
                                                    <th>Precinto</th>
                                                    <th><em class="glyphicon glyphicon-cog"></em></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for porcino in porcinos %}
                                                    <tr>
                                                        <td>{{ porcino.categoria_porcino }}</td>
                                                        <td>
                                                            {{ porcino.precinto }}
                                                            {%  if porcino.precinto2 %}
                                                                - {{ porcino.precinto2 }}
                                                            {% endif %}
                                                        </td>
                                                        <td>

                                                            {% if modificacion %}
                                                                <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'analisis:modificar_porcino' analisis_pk porcino.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                                                            {% else %}
                                                                <a class="btn btn-danger btn-eliminar" onclick="confirmBaja('{{ porcino.precinto }}')" data-toggle="tooltip" title="Eliminar"><em class='glyphicon glyphicon-trash'></em></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% if msg %}
                                            <div class="alert alert-danger"><strong>{{ msg }}</strong></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar"
                           onclick="return confirm('Se guardaran los datos ingresados. ¿Desea continuar?')">
                    <a class="btn btn-danger btn-cancelar" href="{% url 'analisis:lista_analisis' %}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

    <div id="agregar_porcino" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nuevo porcino</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="porcinoForm" data-url="{% url 'analisis:agregar_porcino' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Categoria</label>
                            {{ porcino_form.categoria_porcino|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label>Precinto</label>
                            {{ porcino_form.precinto|add_class:"form-control" }}
                        </div>
                        <div class="form-group" id="precinto2">
                            <label>Precinto N° 2</label>
                            {{ porcino_form.precinto2|add_class:"form-control" }}
                        </div>
                        <input type="submit" class="btn btn-info" name="add" value="Confirmar y Agregar otro" style="margin-top:0;"/>
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cerrar">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modalBaja" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar elemento</h4>
                </div>
                <div class="modal-body" align="center">
                    <h3>¡Atención!</h3>
                    <p>Se eliminara el objeto seleccionado</p>
                    <p>¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-confirm-baja" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        var precinto2 = $('#precinto2'),
        precinto2input = $('#id_precinto2'),
        cat_porcino = $('#id_categoria_porcino');
        
        precinto2.addClass('hidden');

        cat_porcino.change(function() {
            if (cat_porcino.val() !== 'LECHON') {
                precinto2.removeClass('hidden');
                precinto2input.prop('required', true);
            } else {
                precinto2.addClass('hidden');
                precinto2input.prop('required', false);
            }
        });

        $('#porcinoForm').submit(function(e) {
            e.preventDefault();
            $.post($(this).data('url'), $(this).serialize())
                .done(function(data) {
                    if(data['success']) {
                        refresh_table(data);
                        document.getElementById("porcinoForm").reset();
                        if ($('.alert')) {
                            $('.alert').remove()
                        }
                    } else {
                        if (data['errores'] !== "") {
                            $('.error_precinto').remove();
                            var errores = data['errores'];
                            $.each(errores, function(index, value) {
                                $('#id_' + value[0]).after("<span class='error_precinto' style='color:red'>" + value[1] + "</span>");
                            });
                        } else {
                            alert(data['msg']);
                        }
                    }
                })
        });

        function refresh_table(data){
            var porcinos = data['porcinos'];
            var $tbody = $("#table-list tbody");
            $tbody.children().remove();
            for (var i = 0; i < porcinos.length; i++){
                var porcino = porcinos[i]['precinto'],
                precinto2 = " - " + porcinos[i]['precinto2'];
                if (porcinos[i]['precinto2'] === null) {
                    precinto2 = ""
                }
                var row = "<tr align='center'>" +
                        "<td>" + porcinos[i]['categoria_porcino'] + "</td>" +
                        "<td>" + porcino + precinto2 + "</td>" +
                        "<td><a class='btn btn-danger btn-eliminar' onclick='confirmBaja(\"" + porcino + "\")' data-toggle='tooltip' title='Eliminar'><em class='glyphicon glyphicon-trash'></em></a></td>" +
                    "</tr>";
                $tbody.append(row);
            }
        }

        function confirmBaja(precinto) {
            $('#modalBaja').modal();
            $('.btn-confirm-baja').click(function() {
                $.ajax({
                    url: '/analisis/eliminar_porcino/' + precinto,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        refresh_table(data);
                        $('#modalBaja').modal('hide');
                    }
                });
            });
        }
    </script>
{% endblock %}
