{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Análisis de Triquinósis{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/alta_analisis.css' %}"/>
{% endblock %}

{% block header-title %}Alta/Modificacion de Análisis{% endblock %}

{% block url-volver %}{% url 'analisis:lista_analisis' %}{% endblock %}

{% block extra-form %}
    {% if not modificacion %}
        {% include 'caja/cuadro_facturacion.html' %}
    {% endif %}
{% endblock %}

{% block no-select2 %}
{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5" id="container-form-right">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Porcinos</h3>
            </div>
            <div class="panel-body">
                <fieldset id="fieldset_porcinos">
                    {% for form in formset.forms %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span style="color:red;" class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </fieldset>
                {{ formset.management_form }}
            </div>
        </div>
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'analisis:lista_analisis' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('#fieldset_porcinos').formset({
            addText: 'Agregar otro elemento',
            deleteText: 'Eliminar'
        });

        var h = $('#container-form-left').height();
        $('#container-form-right').css('height', h - 20 + 'px');

        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}
