{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load staticfiles bootstrap_dynamic_formsets %}
{% load widget_tweaks %}

{% block title %}Análisis de Triquinósis{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/alta_analisis.css' %}"/>
{% endblock %}

{% block header-title %}Alta/Modificacion de Análisis{% endblock %}

{% block url-volver %}{% url 'analisis:lista_analisis' %}{% endblock %}

{% block extra-form %}
    {% if not modificacion %}
        <div class=" panel panel-default">
            <div class="panel-heading movimiento-title">Datos de facturacion</div>
            <div class="panel-body">
                <label>{{ mov_diario_form.nro_ingreso.label }}</label>
                {{ mov_diario_form.nro_ingreso|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% for field in detalle_mov_diario_form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5" id="container-form-right">
        <p class="porcinos-title">Porcinos</p>
        {% bootstrap_dynamic_formset formset can_delete=True %}
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'analisis:lista_analisis' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        var h = $('#container-form-left').height();
        $('#container-form-right').css('height', h - 20 + 'px');

        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        var False = false, True = true;
        if (!{{ can_delete }}) {
            $('.add-form-form').addClass('hidden');
            $('.delete-form-form').addClass('hidden');
        }

        $(document).ready(function(){
            $('.well').find('.delete-form-form').first().prop('disabled', true);
        });

        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}