{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Examenes{% endblock %}

{% block header-title %}Detalle de Examen Clínico{% endblock %}

{% block url-volver %}{% url 'examenes:lista_examenes' %}{% endblock %}

{% block detail %}
  <p>Fecha: <i>{{ object.fecha }}</i></p>
  <p>Profesional: <i>{{ object.profesional }}</i></p>
  <p>Centro de Atención: <i>{{ object.centro_atencion }}</i></p>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'examenes:lista_examenes' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
