{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Persona{% endblock %}

{% block header-title %}Alta/Modificacion de Persona{% endblock %}

{% block url-volver %}{% url url_return %}{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5">
        {% include 'domicilio/cuadro_domicilio.html' %}
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url url_return %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        $(function(){
            $("#id_documentacion_retirada").checkboxradio();
        });

        $('#id_dni').mask('ZZ99000000', {translation:  {'Z': {pattern: /a-zA-Z0-9/, optional: true}}});
        $('#id_cuit').mask('00-00000000-0');

        $("#id_dni").focusout(function(){
          var doc_ingresado = $('#id_dni').val();
          $.ajax({
           url: "{% url 'personas:verificar_documento' %}",
           method: 'GET',
           data: {
             documento: doc_ingresado
           },
           success: function(data){
             if(data['existe']){
               alert("Ya existe este documento registrado en el sistema.")
             }
           }
         });

        });

    </script>




{% endblock %}
