{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Personas{% endblock %}

{% block header-title %}Personas{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Personas{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'personas:nueva_persona' %}" class="btn btn-sm btn-primary btn-create">Nueva Persona</a>
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-hover table-list">
        <thead>
        <tr>
            <th>Apellido y Nombre</th>
            <th>Dni</th>
            <th>Domicilio</th>
            <th>Telefono</th>
            <th>Documentacion Retirada</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for persona in filter.qs %}
            <tr align="center">
                <td>{{ persona.apellido }}, {{ persona.nombre }}</td>
                <td>{{ persona.dni }}</td>
                <td>{{ persona.domicilio }}</td>
                <td>{{ persona.telefono }}</td>
                {% if persona.documentacion_retirada == True %}
                    <td class="doc-ok"><span class="glyphicon glyphicon-ok-sign"></span></td>
                {% else %}
                    <td class="doc-no"><span class="glyphicon glyphicon-remove-sign"></span></td>
                {% endif %}
                <td align="center">
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalle" href="{% url 'personas:detalle_persona' persona.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'personas:modificar_persona' persona.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'personas:borrar_persona' persona.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block more-scripts %}
    <script>
        $('a.btn-mostrarb').click(function(e) {
            var persona = document.getElementById("datos");
            mostrar(persona);
        });

        function mostrar(persona) {
            swal({
                title: '<i>Detalle de Elemento</i>',
                html:
                    '<p>Apellido: <i>{{ persona.apellido }}</i></p>' +
                    '<p>Nombre: <i>{{ persona.nombre }}</i></p>' +
                    '<p>Dni: <i>{{ persona.dni }}</i></p>' +
                    '<p>Cuil: <i>{{ persona.cuil }}</i></p>' +
                    '<p>Fecha de Nacimiento: <i>{{ persona.fecha_nacimiento }}</i></p>' +
                    '<p>Nacionalidad: <i>{{ persona.nacionalidad }}</i></p>' +
                    '<p>Obra Social: <i>{{ persona.obra_social }}</i></p>' +
                    '<p>Domicilio: <i>{{ persona.domicilio }}</i></p>' +
                    '<p>Telefono: <i>{{ persona.telefono }}</i></p>' +
                    '<p>Email: <i>{{ persona.email }}</i></p>' +
                    '<p>Rubro: <i>{{ persona.rubro }}</i></p>',
                    showCloseButton: true,
                confirmButtonText:
                    'Aceptar'
            })
        }
    </script>
{% endblock %}
