{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Persona{% endblock %}

{% block header-title %}Alta/Modificacion de Persona{% endblock %}

{% block url-volver %}{% url url_return %}{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5" id="container-form-right">
        {% include 'domicilio/cuadro_domicilio.html' %}
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url url_return %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        $(function(){
            $("#id_documentacion_retirada").checkboxradio();
        });

        $('#id_dni').mask('90000000');
        $('#id_cuit').mask('00-00000000-0');
    </script>
{% endblock %}