{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_detail.css' %}"/>
{% endblock %}

{% block title %}Detalle de Persona Fisica{% endblock %}

{% block header-title %}Detalle de Persona Fisica{% endblock %}

{% block url-volver %}{% url 'personas:lista_contribuyentes' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Apellido y Nombre:</td>
                <td>{{ object.apellido }}, {{ object.nombre }}</td>
            </tr>
            <tr>
                <td>DNI:</td>
                <td>{{ object.dni }}</td>
            </tr>
            <tr>
                <td>Cuil:</td>
                <td>{{ object.cuil }}</td>
            </tr>
            <tr>
                <td>Fecha de Nacimiento:</td>
                <td>{{ object.fecha_nacimiento }}</td>
            </tr>
            <tr>
                <td>Nacionalidad:</td>
                <td>{{ object.nacionalidad }}</td>
            </tr>
            <tr>
                <td>Obra Social:</td>
                <td>{{ object.obra_social }}</td>
            </tr>
            <tr>
                <td>Domicilio:</td>
                <td>{{ object.domicilio }}</td>
            </tr>
            <tr>
                <td>Teléfono:</td>
                <td>{{ object.telefono }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <td>Rubro:</td>
                <td>{{ object.rubro }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'personas:lista_contribuyentes' %}" class="btn btn-primary">Regresar</a>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/paging.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#hidden-panel").hide();

            $('[data-toggle="tooltip"]').tooltip();

            $("#buscar").click(function(){
                $("#hidden-panel").slideToggle("slow");
            });

            $('.table-list').paging({limit:3});
        });
    </script>
{% endblock %}
