{% extends "base/base_estadisticas.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Estadisticas Vehículos{% endblock %}

{% block header-title %}Estadisticas para Vehículos{% endblock %}

{% block tabs %}
    <ul>
        <li><a href="#tabs-1">Desinfecciones de Vehículos</a></li>
        <li><a href="#tabs-2">Control de plagas</a></li>
    </ul>
    <div id="tabs-1">      
      <div class="chartAreaWrapper">
        <canvas height="40"></canvas>
      </div>
    </div>
    <div id="tabs-2">
      <div class="chartAreaWrapper">
        <canvas height="40"></canvas>
      </div>
    </div>

{% endblock %}
