{% extends "base/base_estadisticas.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Estadisticas Reinspecciones Veterinarias{% endblock %}

{% block header-title %}Estadisticas de Reinspecciones Veterinarias{% endblock %}

{% block tabs %}
    <ul>
        <li><a href="#tabs-1">Reinspecciones Veterinarias</a></li>
        <li><a href="#tabs-2">Origen de Reinspecciones</a></li>
        <li><a href="#tabs-3">Reinspecciones de Ganado por Origen</a></li>
    </ul>
    <div id="tabs-1">
        <div class="row">
            <div class="col-md-5 tabla-datos">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td align="center">Producto</td>
                            <td align="center">Kg</td>
                            <td align="center">Porcentaje</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in dict_prod.items %}
                            <tr>
                                <td align="center">{{ key }}</td>
                                <td align="center">{{ value.0 }}</td>
                                <td align="center">{{ value.1 }}%</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td align="center"><b>Total General</b></td>
                                <td align="center"><b>{{ total_general_prod }}</b></td>
                                <td align="center"><b>100%</b></td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">
                <canvas id="reinspecciones" class="doughnut"></canvas>
            </div>
        </div>
    </div>
    <div id="tabs-2">
        <div class="row">
            <div class="col-md-6 tabla-datos">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td align="center">Origen</td>
                            <td align="center">Cant. de Reinspecciones</td>
                            <td align="center">Porcentaje de Reinspecciones</td>
                            <td align="center">Cant. de Kg</td>
                            <td align="center">Porcentaje de Kg</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in dict_orig.items %}
                            <tr>
                                <td align="center">{{ key }}</td>
                                <td align="center">{{ value.0 }}</td>
                                <td align="center">{{ value.1 }}%</td>
                                <td align="center">{{ value.2 }}</td>
                                <td align="center">{{ value.3 }}%</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td align="center"><b>Total General</b></td>
                                <td align="center"><b>{{ total_general_orig_r }}</b></td>
                                <td align="center"><b>100%</b></td>
                                <td align="center"><b>{{ total_general_orig_kg }}</b></td>
                                <td align="center"><b>100%</b></td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <canvas id="origenes_cant" class="doughnut"></canvas>
                <canvas id="origenes_kg" class="doughnut"></canvas>
            </div>
        </div>
    </div>
    <div id="tabs-3">
        <div class="tabla-datos">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td align="center">Origen</td>
                        <td align="center">Bovinos</td>
                        <td align="center">Porcinos</td>
                        <td align="center">Ovinos</td>
                        <td align="center">Total de Kg</td>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in dict_gan.items %}
                        <tr>
                            <td align="center">{{ key }}</td>
                            {% for k2, v2 in value.items %}
                                <td align="center">{{ v2 }} Kg</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                        <tr>
                            <td align="center" colspan="4"><b>Total General de Kg</b></td>
                            <td align="center"><b>{{ total_general_gan }} Kg</b></td>
                        </tr>
                </tbody>
            </table>
        </div>
        <canvas class="barStacked" width="400" height="150"></canvas>
    </div>
{% endblock %}
