{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Tsa{% endblock %}

{% block header-title %}Detalle de TSA{% endblock %}

{% block url-volver %}{% url 'tsa:lista_tsa' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Datos del Vehiculo:</td>
                <td>{{ object.vehiculo.marca }}, dominio: {{ object.vehiculo.dominio }} </td>
            </tr>

            {% if object.persona %}
            <tr>
                <td>Apellido y Nombre del particular:</td>
                <td>{{ object.persona.apellido }}, {{ object.persona.nombre }} </td>
            </tr>
            <tr>
                <td>Domicilio del particular:</td>
                <td>B° {{ object.persona.domicilio.barrio }}, {{ object.persona.domicilio.calle }}, {{ object.persona.domicilio.nro }}</td>
            </tr>
            <tr>
                <td>Telefono del particular:</td>
                <td>{{ object.persona.telefono }}</td>
            </tr>
            {% else %}
            <tr>
                <td>Apellido y Nombre del abastecedor:</td>
                <td>{{ object.abastecedor.persona.apellido }}, {{ object.abastecedor.persona.nombre }} </td>
            </tr>

            <tr>
                <td>Domicilio del abastecedor:</td>
                <td>B° {{ object.abastecedor.persona.domicilio.barrio }}, {{ object.abastecedor.persona.domicilio.calle }}, {{ object.abastecedor.persona.domicilio.nro }}</td>
            </tr>
            <tr>
                <td>Telefono del particular:</td>
                <td>{{ object.abastecedor.persona.telefono }}</td>
            </tr>
            {% endif %}


        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'tsa:lista_tsa' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
