{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Carga de Productos{% endblock %}

{% block more-stylesheets %}
    <style>
        tr th, td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block header-title %}Carga de Productos{% endblock %}

{% block url-volver %}{% url 'reinspecciones:lista_reinspecciones' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 align="right"><b>Cantidad de Kg. registrados: {{ reinspeccion.total_kg }}</b></h4>
            <div class="panel panel-info panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <h3 class="panel-title">Productos</h3>
                        </div>
                        <div class="col-xs-8 col-md-8 text-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="false" data-target="#agregar_producto">Agregar Producto</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-list table-bordered table-striped" id="table-list">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Peso</th>
                                <th><em class="glyphicon glyphicon-cog"></em></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.producto.nombre }}</td>
                                    <td>{{ producto.kilo_producto }} Kg</td>
                                    <td>
                                        <a class="btn btn-warning" onclick="confirmModificar('{{ producto.producto.nombre }}')" data-toggle="tooltip" title="Modificar cantidad"><em class='glyphicon glyphicon-pencil'></em></a>
                                        <a class="btn btn-danger btn-eliminar" onclick="confirmBaja('{{ producto.producto.nombre }}')" data-toggle="tooltip" title="Eliminar"><em class='glyphicon glyphicon-trash'></em></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr align='center'>
                                <td><b>Total</b></td>
                                <td colspan='2'>{% if productos %}{{ total_kg }} Kg{% else %}0,0 Kg{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% if mensaje %}
                        <div class="alert alert-danger">
                          <strong>{{ mensaje }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar"
                           onclick="return confirm('Se guardaran los datos ingresados. ¿Desea continuar?')">
                    <a class="btn btn-danger btn-cancelar" href="{% url 'reinspecciones:lista_reinspecciones' %}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

    <div id="agregar_producto" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nuevo producto</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="productoForm" data-accion=""
                          data-url="{% url 'reinspecciones:agregar_producto' %}">
                        {% csrf_token %}
                        {{ producto_form.media }}
                        <div class="form-group">
                            <label>{{ producto_form.producto.label }}</label>
                            {{ producto_form.producto }}
                        </div>
                        <div class="form-group">
                            <label>{{ producto_form.kilo_producto.label }}</label>
                            {{ producto_form.kilo_producto|add_class:"form-control" }}
                        </div>
                        <input type="submit" class="btn btn-info" name="add" value="Confirmar y Agregar otro"/>
                        <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cerrar">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modalBaja" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar elemento</h4>
                </div>
                <div class="modal-body" align="center">
                    <h3>¡Atención!</h3>
                    <p>Se eliminara el objeto seleccionado</p>
                    <p>¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-confirm-baja" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>

    <div id="modalModificar" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar cantidad</h4>
                </div>
                <div class="modal-body" align="center">
                    <input class="form-control" style="width:45%;text-align:center;" type="number" id="nueva_cant" placeholder="Ingrese un número entero">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-confirm-modificar" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        function matchStart(params, data) {
            params.term = params.term || '';
            if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) === 0) {
                return data;
            }
            return null;
        }

        $(document).ready(function() {
            $('#id_producto').select2({
                theme: "bootstrap",
                width: "100%",
                matcher: matchStart
            });
        });

        $(document).ready(function(){
            $("#productoForm").submit(function(e) {
                e.preventDefault();
                $.post($(this).data('url'), $(this).serialize())
                    .done(function(data) {
                        if(data['success']) {
                            refresh_table(data);
                            document.getElementById("productoForm").reset();
                            $('#id_producto').select2('open');
                        } else {
                            alert("Este producto ya se encuentra cargado");
                        }
                    });
            });
        });

        function refresh_table(data){
            var productos = data['productos'],
            $tbody = $("table tbody");
            $tbody.children().remove();
            for(var i = 0; i < productos.length; i++){
                var producto = productos[i]['producto']['nombre'];
                var row = "<tr align='center'>" +
                            "<td>" + producto + "</td>" +
                            "<td>" + productos[i]['kilo_producto'] + ",0 Kg</td>" +
                            "<td>" +
                                "<a class='btn btn-warning' onclick='confirmModificar(\"" + producto + "\")' data-toggle='tooltip' title='Modificar cantidad'><em class='glyphicon glyphicon-pencil'></em></a>" +
                                " " +
                                "<a class='btn btn-danger btn-eliminar' onclick='confirmBaja(\"" + producto + "\")' data-toggle='tooltip' title='Eliminar'><em class='glyphicon glyphicon-trash'></em></a>" +
                            "</td>" +
                        "</tr>";
                $tbody.append(row);
            }
            var total = "<tr align='center'>" +
                            "<td><b>Total</b></td>" +
                            "<td colspan='2'>" + data['total_kg'] + ",0 Kg</td>" +
                        "</tr>";
            $tbody.append(total);
        }

        function confirmBaja(producto) {
            $('#modalBaja').modal();
            $('.btn-confirm-baja').click(function() {
                $.ajax({
                    url: '/reinspecciones/eliminar_producto/' + producto,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        refresh_table(data);
                        $('#modalBaja').modal('hide');
                    }
                });
            });
        }

        function confirmModificar(producto) {
            $('#modalModificar').modal();
            $('.btn-confirm-modificar').click(function() {
                var kg = $('#nueva_cant').val();
                $.ajax({
                    url: '/reinspecciones/modificar_producto/' + producto + '/' + kg,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        refresh_table(data);
                        $('#modalModificar').modal('hide');
                        $('#nueva_cant').val("");
                    }
                });
            });
        }

        $('#agregar_producto').on('shown.bs.modal', function () {
            $('#id_producto').select2('open');
        });

        $('#id_producto').on('select2:close', function () {
            setTimeout(function() {
                $('.select2-container--focus').removeClass('select2-container--focus');
                $(':focus').blur();
                $('#id_kilo_producto').focus();
            }, 1);
        });
    </script>
{% endblock %}