{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Reinspeccion: Lista de Productos{% endblock %}

{% block header-title %}Reinspeccion: Lista de Productos{% endblock %}

{% block url-volver %}
    {% if id_return %}
        {% url url_return id_return %}
    {% else %}
        {% url url_return %}
    {% endif %}
{% endblock %}

{% block panel-title %}Productos{% endblock %}

{% block btn-nuevo %}
    {% if id_return and not periodo.pagado and user.is_staff %}
        <a href="{% url 'reinspecciones:agregar_producto_reinspeccion' reinspeccion.pk id_return %}" class="btn btn-primary btn-create">Agregar Producto</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Producto</th>
            <th>Kg</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tfoot>
        <tr style="background-color:#d6d7d8">
            <td><b>TOTAL</b></td>
            <td><b>{{ reinspeccion.total_kg }}</b></td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
        {% for producto in listado %}
            <tr>
                <td>{{ producto.producto.nombre }}</td>
                <td>{{ producto.kilo_producto }}</td>
                <td>
                    {% if id_return and not periodo.pagado %}
                        <a class='btn btn-warning' onclick="confirmModificar('{{ reinspeccion.pk }}', '{{ producto.producto.nombre }}')" data-toggle='tooltip' title='Modificar cantidad'><em class='glyphicon glyphicon-pencil'></em></a>
                        {% if listado|length  > 1 %}
                            <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'reinspecciones:borrar_producto' producto.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

    <div id="modalModificar" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar cantidad</h4>
                </div>
                <div class="modal-body" align="center">
                    <label for="nueva_cant"></label>
                    <input class="form-control" style="width:45%;text-align:center;" type="number" id="nueva_cant" placeholder="Ingrese un número entero">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-confirm-modificar" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        function confirmModificar(pk, producto) {
            $('#modalModificar').modal();
            $('.btn-confirm-modificar').click(function() {
                var kg = $('#nueva_cant').val();
                $.ajax({
                    url: '/reinspecciones/modificar_producto_reinspeccion/' + pk + '/' + producto + '/' + kg,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function() {
                        $('#modalModificar').modal('hide');
                        $('#nueva_cant').val("");
                        location.reload();
                    }
                });
            });
        }
    </script>
{% endblock %}
