{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Reinspeccion: Carga de Productos{% endblock %}

{% block header-title %}Alta/Modificacion de Producto{% endblock %}

{% block url-volver %}{% url 'reinspecciones:lista_productos' reinspeccion_pk %}{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'reinspecciones:lista_productos' reinspeccion_pk %}">Cancelar</a>
{% endblock %}
