{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Reinspecciones{% endblock %}

{% block header-title %}Reinspecciones{% endblock %}

{% block panel-title %}Reinspecciones{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'reinspecciones:nueva_reinspeccion' %}" class="btn btn-primary btn-create">Nueva Reinspeccion</a>
    {% if user.is_staff %}
        <a href="{% url 'reinspecciones:nueva_reinspeccion_cc' %}" class="btn btn-success">Nueva Reinspeccion a Cuenta Corriente</a>
        <a href="{% url 'reinspecciones:precios_reinspeccion' %}" class="btn btn-info">Precios Vigentes</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Turno</th>
            <th>Certificado</th>
            <th>Abastecedor</th>
            <th>Origen</th>
            <th>Total Kg</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
{% endblock %}

{% block more-scripts %}

  <script type="text/javascript">

    $(function() {
      $("#btn_filtrar").css('display', 'block'); //Muestra el filtrar "rapido"
    });

    function eventFired() {

      var value = $('.dataTables_filter input').val();

      $.ajax({
          url: "{% url 'reinspecciones:datatable_preloader' %}",
          method: "GET",
          xhrFields: {
              withCredentials: true
          },
          data: {
            "filtro": value
          },
          success: function (data) {

            $.each(data, function(key, value) {
              if (key == 'listado') {
                $.each(value, function(k, v) {
                  $('#table-list').dataTable().fnAddData( [
                    v.fecha,
                    v.turno,
                    v.certificado,
                    v.abastecedor.nombre,
                    v.origen.nombre,
                    v.total_kg,
                    "{% if not v.detalles %}\
                      <a class='btn btn-info' data-toggle='tooltip' title='Carga de Productos' href='{% url 'reinspecciones:carga_productos' 123 %}'><em class='glyphicon glyphicon-th-list'></em></a> \
                     {% endif %}\
                     <a class='btn btn-warning' data-toggle='tooltip' title='Lista de Productos' href='{% url 'reinspecciones:lista_productos' 123 0 %}'><em class='glyphicon glyphicon-list-alt'></em></a> \
                     {% if user.is_staff %}\
                      <a class='btn btn-default' data-toggle='tooltip' title='Modificar' href='{% url 'reinspecciones:modificar_reinspeccion' 123 0 %}'><em class='glyphicon glyphicon-pencil'></em></a>\
                     {% endif %}"
                    ] );

                    var url_carga = "{% url 'reinspecciones:carga_productos' 123 %}".replace('123', v.pk);
                    var url_lista = "{% url 'reinspecciones:lista_productos' 123 0 %}".replace('123', v.pk);
                    var url_mod_reinspeccion = "{% url 'reinspecciones:modificar_reinspeccion' 123 0 %}".replace('123', v.pk);

                    $('.carga_producto a').attr('href',url_carga);
                    $('.lista_productos a').attr('href',url_lista);
                    $('.modificar_reinspeccion a').attr('href',url_mod_reinspeccion);

                });
              }
            });
          }
      });
    }

    function fnClickAddRow() {
      eventFired();
      $('.dataTables_filter input').val('').keyup();
      var table = $('#table-list').DataTable();
      table.clear();
    }
  </script>

{% endblock %}
