{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Reinspeccion{% endblock %}

{% block header-title %}Alta/Modificacion de Reinspeccion{% endblock %}

{% block url-volver %}{% url 'reinspecciones:lista_reinspecciones' %}{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'reinspecciones:lista_reinspecciones' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $('#id_turno').datetimepicker({
            format:'d/m/Y H:i',
            step:30,
            minDate: new Date(),
            disabledWeekDays:[0]
        });

        $.datetimepicker.setLocale('es');
    </script>
{% endblock %}