{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Reinspecciones{% endblock %}

{% block header-title %}Reinspecciones{% endblock %}

{% block panel-title %}Reinspecciones{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'reinspecciones:nueva_reinspeccion' %}" class="btn btn-primary btn-create">Nueva Reinspeccion</a>
    {% if user.is_staff %}
        <a href="{% url 'reinspecciones:precios_reinspeccion' %}" class="btn btn-info">Precios vigentes</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Turno</th>
            <th>Precintado</th>
            <th>Certificado</th>
            <th>Abastecedor</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for reinspeccion in listado %}
            <tr>
                <td>{{ reinspeccion.turno }}</td>
                <td>{{ reinspeccion.precintado }}</td>
                <td>{{ reinspeccion.num_certificado }}</td>
                <td>{{ reinspeccion.abastecedor }}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Productos" href="{% url 'reinspecciones:lista_productos' reinspeccion.pk %}"><em class="glyphicon glyphicon-edit"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
