{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Reinspeccion{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/parsley.css' %}"/>
{% endblock %}

{% block header-title %}Alta/Modificacion de Reinspeccion{% endblock %}

{% block url-volver %}{% url 'reinspecciones:lista_reinspecciones' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post" class="reinspeccion-form">
            {% csrf_token %}
            <div class="form-section">
                {{ form.media }}
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }} {%if field.field.required %}*{%endif%}</label>
                        {{ field|add_class:'form-control' }}
                    </div>
                {% endfor %}
                {% if form.non_field_errors%}
                    <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
                {% endif %}
            </div>
            <div class="form-section">
                <div class="panel panel-info panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <h3 class="panel-title">Productos</h3>
                            </div>
                            <div class="col-xs-8 col-md-8 text-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregar_producto">Agregar Producto</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid container-table">
                            <table class="table table-list table-bordered table-striped" id="table-list">
                                <thead>
                                    <tr align="center">
                                        <th>Producto</th>
                                        <th>Peso</th>
                                        <th><em class="glyphicon glyphicon-cog"></em></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section">
                Seleccione la Forma de Pago
                <br>
                <div id="radio_options">
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="cc" checked>Cuenta Corriente</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="normal">Pago Normal</label>
                    </div>
                </div>
                <div class="pago_cc">
                    <input type="submit" class="btn btn-success" value="Agregar a Cuenta Corriente">
                </div>
                <div class="pago_normal">
                    {% include 'caja/cuadro_facturacion.html' %}
                    <input type="submit" class="btn btn-success" value="Facturar">
                </div>
            </div>

            <div class="form-navigation">
                <button type="button" class="previous btn btn-info pull-left">&lt; Anterior</button>
                <button type="button" class="next btn btn-info pull-right">Siguiente &gt;</button>
                <input class="btn btn-default pull-right" type="submit">
                <span class="clearfix"></span>
            </div>
        </form>
    </div>

    <div id="agregar_producto" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nuevo producto</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="productoForm" data-url="{% url 'reinspecciones:agregar_producto' %}">
                        {% csrf_token %}
                        {{ producto_form.media }}
                        <div class="form-group">
                            <label>{{ producto_form.producto.label }}</label>
                            {{ producto_form.producto }}
                        </div>
                        <div class="form-group">
                            <label>{{ producto_form.kilo_producto.label }}</label>
                            {{ producto_form.kilo_producto|add_class:"form-control" }}
                        </div>
                        <input type="submit" class="btn btn-default" id="btn-confirmar" value="Confirmar"/>
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/parsley.js' %}"></script>
    <script src="{% static 'js/118n/es.js' %}"></script>
    <script>
        $(document).ready(function(){

            $('[data-toggle="tooltip"]').tooltip();

            $("#productoForm").submit(function(e) {
                e.preventDefault();
                $.post($(this).data('url'), $(this).serialize())
                    .done(function(data) {
                        if(data['success']) {
                            refresh_table(data['productos']);
                        } else {
                            alert("Este producto ya se encuentra cargado");
                        }
                    });
            });

            forma_pago = $("input[name='optradio']:checked").val();
            hideFields();

            $('#radio_options').change(function(){
                forma_pago = $("input[name='optradio']:checked").val();
                hideFields();
            });
        });

        function refresh_table(productos){
            var $tbody = $("table tbody");
            $tbody.children().remove();
            for(var i = 0; i < productos.length; i++){
                var producto = productos[i]['producto']['nombre']
                var row = "<tr align='center'>" +
                        "<td>" + producto + "</td>" +
                        "<td>" + productos[i]['kilo_producto'] + " Kg</td>" +
                        "<td><a class='btn btn-danger btn-eliminar' onclick='confirmBaja(\"" + producto + "\")' data-toggle='tooltip' title='Eliminar'><em class='glyphicon glyphicon-trash'></em></a></td>" +
                    "</tr>";
                $tbody.append(row);
            }
        }

        function confirmBaja(producto) {
            swal({
                title: "¿Esta seguro?",
                text: "¿Desea eliminar este elemento?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirmar",
                cancelButtonText: "Cancelar"
            }).then(function(){
                $.ajax({
                    url: 'nueva/eliminar_producto/' + producto,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        swal('Baja confirmada', 'El elemento se elimino correctamente', 'success').then(
                            function(){
                                refresh_table(data['productos']);
                            }
                        );
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal('Error de operacion', 'Por favor intente nuevamente', 'error');
                    }
                });
            });
        };

        var pago_cc = $('.pago_cc'),
        pago_normal = $('.pago_normal');

        function hideFields() {
            if (forma_pago == 'cc') {
                pago_cc.removeClass('hidden');
                pago_normal.addClass('hidden');
            } else {
                pago_cc.addClass('hidden');
                pago_normal.removeClass('hidden');
            }
        }

        $(function () {
            var $sections = $('.form-section');

            function navigateTo(index) {
                // Mark the current section with the class 'current'
                $sections
                    .removeClass('current')
                    .eq(index)
                    .addClass('current');
                // Show only the navigation buttons that make sense for the current section:
                $('.form-navigation .previous').toggle(index > 0);
                var atTheEnd = index >= $sections.length - 1;
                $('.form-navigation .next').toggle(!atTheEnd);
                $('.form-navigation [type=submit]').toggle(atTheEnd);
            }

            function curIndex() {
                // Return the current index by looking at which section has the class 'current'
                return $sections.index($sections.filter('.current'));
            }

            // Previous button is easy, just go back
            $('.form-navigation .previous').click(function() {
                navigateTo(curIndex() - 1);
            });

            // Next button goes forward iff current block validates
            $('.form-navigation .next').click(function() {
                $('.reinspeccion-form').parsley().whenValidate({
                    group: 'block-' + curIndex()
                }).done(function() {
                    navigateTo(curIndex() + 1);
                });
            });

            // Prepare sections by setting the `data-parsley-group` attribute to 'block-0', 'block-1', etc.
            $sections.each(function(index, section) {
                $(section).find(':input').attr('data-parsley-group', 'block-' + index);
            });
            navigateTo(0); // Start at the beginning
        });
    </script>
{% endblock %}