{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Reinspecciones{% endblock %}

{% block header-title %}Reinspecciones{% endblock %}

{% block panel-title %}Reinspecciones{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'reinspecciones:nueva_reinspeccion' %}" class="btn btn-primary btn-create">Nueva Reinspeccion</a>
    {% if user.is_staff %}
        <a href="{% url 'reinspecciones:nueva_reinspeccion_cc' %}" class="btn btn-success">Nueva Reinspeccion a Cuenta Corriente</a>
        <a href="{% url 'reinspecciones:precios_reinspeccion' %}" class="btn btn-info">Precios Vigentes</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Turno</th>
            <th>Precintado</th>
            <th>Certificado</th>
            <th>Abastecedor</th>
            <th>Origen</th>
            <th>Total Kg</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for reinspeccion in listado %}
            <tr>
                <td>{{ reinspeccion.fecha|date:"d M. Y" }}</td>
                <td>{{ reinspeccion.turno }}</td>
                <td>{{ reinspeccion.precintado|default_if_none:"" }}</td>
                <td>{{ reinspeccion.certificado }}</td>
                <td>{{ reinspeccion.abastecedor }}</td>
                <td>{{ reinspeccion.origen.nombre|default_if_none:"" }}</td>
                <td>{{ reinspeccion.total_kg }}</td>
                <td>
                    {% if not reinspeccion.detalles %}
                        <a class="btn btn-info" data-toggle="tooltip" title="Carga de Productos" href="{% url 'reinspecciones:carga_productos' reinspeccion.pk %}"><em class="glyphicon glyphicon-th-list"></em></a>
                    {% endif %}
                    <a class="btn btn-warning" data-toggle="tooltip" title="Lista de Productos" href="{% url 'reinspecciones:lista_productos' reinspeccion.pk 1 %}"><em class="glyphicon glyphicon-list-alt"></em></a>
                    {% if user.is_staff %}
                        <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'reinspecciones:modificar_reinspeccion' reinspeccion.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
