{% block extra_style %}
    <title>{{  title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 14px;
        }
        table {
            margin: 0 auto;
            width: 100%;
        }
        .tabla-info {
            border: 1px solid black;
        }
        .tabla-info td, .tabla-info th {
            border: 1px solid black;
        }
        td, th {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h4 align="center"><u>Comprobante de inscripción a Curso de Manipulación de Alimentos</u></h4>
            <table class="tabla-info">
                <tr>
                    <td>Apellido y Nombre:</td>
                    <td>{{ inscripcion.persona.apellido }}, {{ inscripcion.persona.nombre }}</td>
                </tr>
                <tr>
                    <td>Fecha de Inscripción:</td>
                    <td>{{ inscripcion.fecha_inscripcion }}</td>
                </tr>
                <tr>
                    <td>Fecha de Inicio de Curso</td>
                    <td>{{ inscripcion.curso.fecha }}</td>
                </tr>
                <tr>
                    <td>Observaciones:</td>
                    <td>{{ inscripcion.observaciones }}</td>
                </tr>
                {% if inscripcion.curso.finalizado %}
                    <tr>
                        <td>Porcentaje de asistencia</td>
                        <td>{{ inscripcion.porcentaje_asistencia }}%</td>
                    </tr>
                    <tr>
                        <td>Calificación</td>
                        <td>{{ inscripcion.nota_curso }}</td>
                    </tr>
                {% endif %}
            </table>
            <table>
                <tbody>
                    <tr  style="height:50px; vertical-align:bottom">
                        <td></td>
                        <td></td>
                        <td>................................</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Sello y firma</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
