{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripciones{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'cursos:inscripciones_curso' object.curso.pk %}">Inscripciones a curso</a></li>
    <li class="active">Detalle de inscripción</li>
{% endblock %}

{% block header-title %}Detalle de Inscripción{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block detail %}
  <p>Nombre de la persona: <i>{{ object.persona.nombre }}</i></p>
  <p>Fecha de Inscripción del curso: <i>{{ object.curso.fecha_inicio }}</i></p>
  <p>Observaciones: <i>{{ object.observaciones }}</i></p>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'cursos:inscripciones_curso' object.curso.pk %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
