{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripciones{% endblock %}

{% block header-title %}Detalle de Inscripción{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>N° Ingresos Varios:</td>
                <td>{{ object.nro_ingresos_varios }}</td>
            </tr>
            <tr>
                <td>Arancel:</td>
                <td>$ {{ object.arancel }}</td>
            </tr>
            <tr>
                <td>Apellido y Nombre:</td>
                <td>{{ object.persona.apellido }}, {{ object.persona.nombre }}</td>
            </tr>
            <tr>
                <td>Fecha de Inscripción:</td>
                <td>{{ object.fecha_inscripcion }}</td>
            </tr>
            <tr>
                <td>Observaciones:</td>
                <td>{{ object.observaciones }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'cursos:inscripciones_curso' object.curso.pk %}" class="btn btn-primary">Regresar</a>
    <a href="{% url 'inscripciones:pdf_inscripcion' object.pk object.curso.pk %}" class="btn btn-warning">Imprimir</a>
{% endblock %}
