{% extends "base/base_baja.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripiones a Curso{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'inscripciones:lista_inscripciones' %}">Inscripciones</a></li>
    <li class="active">Borrar inscripción</li>
{% endblock %}

{% block header-title %}Baja de Inscripcion{% endblock %}

{% block url-volver %}{% url 'inscripciones:lista_inscripciones' %}{% endblock %}

{% block btn-cancelar %}<a href="{% url 'inscripciones:lista_inscripciones' %}" class="btn btn-sm btn-primary" role="button">Cancelar</a>{% endblock %}