{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Inscripción a Curso{% endblock %}

{% block header-title %}Alta/Modificación de Inscripción{% endblock %}

{% block url-volver %}{% url url_return id_curso %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            <div class=" panel panel-default">
                <div class="panel-heading movimiento-title">Datos de facturacion</div>
                <div class="panel-body">
                    <label>{{ mov_diario_form.nro_ingreso.label }}</label>
                    {{ mov_diario_form.nro_ingreso|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% for field in detalle_mov_diario_form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url url_return id_curso %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}