{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 14px;
        }
        table {
            margin: 0 auto;
            border: 1px solid black;
            width: 100%;
        }
        td, th {
            text-align: center;
        }
        .firma {
            text-align: right;
        }
    </style>
{% endblock %}

{% block page_header %}
    <div id="page-header">
        <div class="header">
            <p>Comprobante de Inscripción a Curso</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <table>
                <tr>
                    <td>Apellido y Nombre:</td>
                    <td>{{ inscripcion.persona.apellido }}, {{ inscripcion.persona.nombre }}</td>
                </tr>
                <tr>
                    <td>Fecha de Inscripción:</td>
                    <td>{{ inscripcion.fecha_inscripcion }}</td>
                </tr>
                <tr>
                    <td>Fecha de Inicio de Curso</td>
                    <td>{{ inscripcion.curso.fecha }}</td>
                </tr>
                <tr>
                    <td>Observaciones:</td>
                    <td>{{ inscripcion.observaciones }}</td>
                </tr>
                {% if inscripcion.curso.finalizado %}
                    <tr>
                        <td>Porcentaje de asistencia</td>
                        <td>{{ inscripcion.porcentaje_asistencia }}%</td>
                    </tr>
                    <tr>
                        <td>Calificación</td>
                        <td>{{ inscripcion.nota_curso }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
