{% extends "base/base_baja.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripiones a Curso{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'cursos:inscripciones_curso' object.curso.pk %}">Inscripciones a curso</a></li>
    <li class="active">Borrar inscripción</li>
{% endblock %}

{% block header-title %}Baja de Inscripcion{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block btn-cancelar %}<a href="{% url 'cursos:lista_cursos' %}" class="btn btn-sm btn-primary" role="button">Cancelar</a>{% endblock %}
