{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripción a Curso{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'inscripciones:lista_inscripciones' %}">Inscripciones</a></li>
    <li class="active">Alta-Modificacion de inscripción</li>
{% endblock %}

{% block header-title %}Alta/Modificacion de Inscripcion{% endblock %}

{% block url-volver %}{% url 'inscripciones:lista_inscripciones' %}{% endblock %}
