{% extends "base/base_estadisticas.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Estadisticas Caja{% endblock %}

{% block header-title %}Estadisticas Parte Diario Caja{% endblock %}

{% block tabs %}
    <style>
        .tabla-datos {
            padding-right:0;
        }

        .tabla-porcentajes {
            padding-left:0;
        }
    </style>

    <ul>
        <li><a href="#tabs-1">Importes Servicio Anual</a></li>
    </ul>
    <div id="tabs-1">
        <div class="row">
            <div class="col-md-3 tabla-datos">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Item</td>
                            <td>Importe</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in dict.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>${{ value }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2"><b>Total general en el año: ${{ total_general}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1 tabla-porcentajes">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Porcentajes</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in porcentajes %}
                            <tr>
                                <td>{{ p }}%</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><b>100%</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">
                <canvas id="canvas_caja"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
