{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Esterilización de Mascotas{% endblock %}

{% block header-title %}Alta de Esterilización{% endblock %}

{% block url-volver %}{% url 'esterilizacion:lista_esterilizaciones' %}{% endblock %}

{% block content %}
    <div class="container container-form">
        <form method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="container-form-left">
                        {% for field in turno_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                            </div>
                        {% endfor %}
                        {% for field in patente_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                            </div>
                        {% endfor %}
                        <div align="center">
                            <a class="btn btn-info" href="{% url 'esterilizacion:nueva_esterilizacion_nopatentado' %}">Mascota no Patentada</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary" value="Aceptar">
                    <a class="btn btn-danger btn-cancelar" href="{% url 'esterilizacion:lista_esterilizaciones' %}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        jQuery('#id_turno').datetimepicker({
            format:'d/m/Y H:i',
            step:30,
            minDate:new Date(),
            disabledWeekDays:[0,6]
        });
        $.datetimepicker.setLocale('es');
    </script>
{% endblock %}