{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 widget_tweaks %}

{% block title %}Esterilización de Mascotas{% endblock %}

{% block more-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr.min.css' %}"/>
{% endblock %}

{% block header-title %}Alta de Esterilización{% endblock %}

{% block url-volver %}{% url 'esterilizacion:lista_esterilizaciones' %}{% endblock %}

{% block form-left %}
    <div class="form-group">
        <label>{{ form.interesado.label }} *</label>
        {{ form.interesado|add_class:'form-control' }}
        {% for error in form.interesado.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>{{ form.turno.label }} *</label>
        {{ form.turno|add_class:'form-control' }}
        {% for error in form.turno.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}

{% block extra-form %}
    {% include 'mascota/cuadro_mascota.html' %}
{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Otros datos de la Mascota</h3>
            </div>
            <div class="panel-body">
                {% for field in form %}
                    {% if field.label != 'Interesado' and field.label != 'Turno' %}
                        <div class="form-group">
                            <label>{{ field.label }} {%if field.field.required %}*{%endif%}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'esterilizacion:lista_esterilizaciones' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script src="{% static 'js/flatpickr.min.js' %}"></script>
    <script src="{% static 'js/es.js' %}"></script>
    <script>
        flatpickr.localize(flatpickr.l10ns.es);
        $("#id_turno").flatpickr({
            locale: {
                firstDayOfWeek: 0
            },
            minuteIncrement: 30,
            time_24hr: true,
            enableTime: true,
            altInput: true,
            altFormat: 'd-m-Y - H:i',
            defaultHour: 8,
            minDate: 'today',
            disable: [
                function(date) {
                    return (date.getDay() === 6 || date.getDay() === 0);
                }
            ],
            onOpen: function(){
                $('.numInput').prop('disabled', true)
            }
        });
    </script>
{% endblock %}