{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Esterilización de Mascotas{% endblock %}

{% block header-title %}Alta de Esterilización{% endblock %}

{% block url-volver %}{% url 'esterilizacion:lista_esterilizaciones' %}{% endblock %}

{% block extra-form %}
    <div class="form-group">
        <label>{{ esterilizacion_form.turno.label }} *</label>
        {{ esterilizacion_form.turno|add_class:'form-control' }}
        {% for error in esterilizacion_form.turno.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Otros datos de la Mascota</h3>
        </div>
        <div class="panel-body">
            {% for field in esterilizacion_form %}
                {% if field.label != 'Turno' %}
                    <div class="form-group">
                        <label>{{ field.label }} {%if field.field.required %}*{%endif%}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra-buttons %}
    <a class="btn btn-info" href="{% url 'esterilizacion:nueva_esterilizacion_nopatentado' %}">Mascota no patentada</a>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'esterilizacion:lista_esterilizaciones' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $('#id_turno').datetimepicker({
            format:'d/m/Y H:i',
            step:30,
            minDate:new Date(),
            disabledWeekDays:[0,6]
        });

        $.datetimepicker.setLocale('es');

        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}