{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Esterilización de Mascotas{% endblock %}

{% block header-title %}Alta de Esterilización{% endblock %}

{% block url-volver %}{% url 'esterilizacion:lista_esterilizaciones' %}{% endblock %}

{% block extra-form %}
    {% for field in turno_form %}
        <div class="form-group">
            <label>{{ field.label }} {%if field.field.required %}*{%endif%}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block form-right %}
    <div class="col-xs-12 col-md-5" id="container-form-right">
        {% include 'mascota/cuadro_mascota.html' %}
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'esterilizacion:lista_esterilizaciones' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $('#id_turno').datetimepicker({
            format:'d/m/Y H:i',
            step:30,
            minDate: new Date(),
            disabledWeekDays:[0,6]
        });

        $.datetimepicker.setLocale('es');

        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}