{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Esterilización de Mascotas{% endblock %}

{% block header-title %}Esterilización de Mascotas {% endblock %}

{% block panel-title %}Turnos{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'esterilizacion:nueva_esterilizacion' %}" class="btn btn-sm btn-primary btn-create">Nuevo Turno - Mascota patentada</a>
    <a href="{% url 'esterilizacion:nueva_esterilizacion_nopatentado' %}" class="btn btn-sm btn-info btn-create" >Nuevo Turno - Mascota no patentada</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Interesado</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for esterilizacion in listado %}
            <tr>
                <td>{{ esterilizacion.turno.date }}</td>
                <td>{{ esterilizacion.turno|time:"H:i" }}</td>
                <td>{{ esterilizacion.interesado }}</td>
                <td>
                    {% if not esterilizacion.mascota.esterilizado %}
                        <a class="btn btn-warning" data-toggle="tooltip" title="Imprimir Consentimiento" target="_blank" href="{% url 'esterilizacion:pdf_consentimiento' esterilizacion.pk %}"><em class="glyphicon glyphicon-print"></em></a>
                        <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'esterilizacion:borrar_esterilizacion' esterilizacion.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                        <a class="btn btn-info btn-confirmar" data-toggle="tooltip" title="Confirmar realizacion" data-url="{% url 'esterilizacion:confirmar_esterilizacion' esterilizacion.pk %}"><em class="glyphicon glyphicon-ok"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).ready(function(){
            $('.btn-confirmar').click(function confirmarEsterilizacion() {
                var urlConfirm = $(this).data('url');
                swal({
                    title: "¿Esta seguro?",
                    text: "¿Desea confirmar la realizacion de la esterilizacion seleccionada?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar"
                }).then(function(){
                    $.ajax({
                        url: urlConfirm,
                        type: 'POST',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function() {
                            swal('Finalizado', 'El procedimiento se confirmo correctamente', 'success').then(
                                function(){
                                    location.reload()
                                }
                            );
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Error de operacion", "Por favor intente nuevamente", "error");
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}