{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Esterilización de Mascotas{% endblock %}

{% block header-title %}Esterilización de Mascotas {% endblock %}

{% block panel-title %}Turnos{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'esterilizacion:nueva_esterilizacion' %}" class="btn btn-sm btn-primary btn-create">Nuevo Turno - Mascota patentada</a>
    <a href="{% url 'esterilizacion:nueva_esterilizacion_nopatentado' %}" class="btn btn-sm btn-info btn-create" >Nuevo Turno - Mascota no patentada</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Interesado</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for esterilizacion in listado %}
            <tr>
                <td>{{ esterilizacion.turno.date }}</td>
                <td>{{ esterilizacion.turno|time:"H:i" }}</td>
                <td>{{ esterilizacion.interesado }}</td>
                <td>
                    {% if not esterilizacion.mascota.esterilizado %}
                        <a class="btn btn-warning" data-toggle="tooltip" title="Imprimir Consentimiento" target="_blank" href="{% url 'esterilizacion:pdf_consentimiento' esterilizacion.pk %}"><em class="glyphicon glyphicon-print"></em></a>
                        <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'esterilizacion:borrar_esterilizacion' esterilizacion.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                        <a class="btn btn-info btn-confirmar" data-toggle="tooltip" title="Confirmar realizacion" data-url="{% url 'esterilizacion:confirmar_esterilizacion' esterilizacion.pk %}"><em class="glyphicon glyphicon-ok"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

    <div id="modalEsterilizacion" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmar Esterilizacion</h4>
                </div>
                <div class="modal-body" align="center">
                    <p>¿Desea confirmar la realizacion de la esterilizacion seleccionada?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-confirm-esterilizacion" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>

    <div id="modalConfirmEsterilizacion" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="location.reload()">&times;</button>
                    <h4 class="modal-title">Procedimiento realizado</h4>
                </div>
                <div class="modal-body" align="center">
                    <p>El procedimiento se realizo correctamente</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.reload()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        $('.btn-confirmar').click(function () {
            var urlConfirm = $(this).data('url');
            $('#modalEsterilizacion').modal();
            $('.btn-confirm-esterilizacion').click(function() {
                $.ajax({
                    url: urlConfirm,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function() {
                        $('#modalEsterilizacion').modal('hide');
                        $('#modalConfirmEsterilizacion').modal();
                    }
                });
            });
        });
    </script>
{% endblock %}