{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Patentes{% endblock %}

{% block header-title %}Alta/Modificacion de Patente{% endblock %}

{% block url-volver %}{% url 'patentes:lista_patentes' %}{% endblock %}

{% block extra-form %}
    {% if not modificacion %}
        {% include 'caja/cuadro_facturacion.html' %}
    {% endif %}
{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-botom-right">
            {% include 'mascota/cuadro_mascota.html' %}
        </div>
    {% endif %}
{% endblock %}


{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'patentes:lista_patentes' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });
    </script>
{% endblock %}
