{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Patentes{% endblock %}

{% block header-title %}Patentes{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Patentes{% endblock %}


{% block btn-nuevo %}
    <a href="{% url 'patentes:nueva_patente' %}" class="btn btn-sm btn-primary btn-create">Nueva Patente</a>
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-list" id="table-list">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Persona</th>
            <th>Mascota</th>
            <th>Retiro de Beneficios</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for patente in filter.qs %}
            <tr>
                <td>{{ patente.fecha }}</td>
                <td>{{ patente.persona }}</td>
                <td>{{ patente.mascota }}</td>
                <td align="center">
                    <a class="btn btn-info btn-beneficio" data-url="{% url 'patentes:retiro_garrapaticida' patente.pk %}">Garrapaticida</a>
                    <a class="btn btn-info btn-beneficio" data-url="{% url 'patentes:retiro_antiparasitario' patente.pk %}">Antiparasitario</a>
                </td>
                <td align="center">
                    <a class="btn btn-success" data-toggle="tooltip" title="Imprimir Carnet" href="{% url 'patentes:carnet_pdf' patente.pk %}"><em class="glyphicon glyphicon-print"></em></a>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalles" href="{% url 'patentes:detalle_patente' patente.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'patentes:modificar_patente' patente.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'patentes:borrar_patente' patente.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block more-scripts %}
    <script>
        $(document).ready(function(){
            $('.btn-beneficio').click(function confirmarRetiro(e) {
                var urlBeneficio = $(e.target).data('url');
                swal({
                    title: "¿Esta seguro?",
                    text: "¿Desea confirmar el retiro de este beneficio?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar"
                }).then(function(){
                    $.ajax({
                        url: urlBeneficio,
                        success: function(msg) {
                            swal('Finalizado', msg, 'success');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Error de operacion", "Por favor intente nuevamente", "error");
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}