{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Patentes{% endblock %}

{% block header-title %}Alta/Modificacion de Patente{% endblock %}

{% block url-volver %}{% url 'patentes:lista_patentes' %}{% endblock %}

{% block form-left %}
    <div class=" panel panel-default">
        <div class="panel-body">
            {% for field in patente_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
            </div>
            {% endfor %}
        </div>
        {% if not modificacion %}
            <div class="panel-heading movimiento-title">Datos de facturacion</div>
            <div class="panel-body">
                {% for field in mov_diario_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                    </div>
                {% endfor %}
                {% for field in detalle_mov_diario_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block form-right %}
    {% if not modificacion %}
        <div class="panel panel-default col-xs-12 col-md-5" id="container-form-botom-right">
            <div class="panel-heading domicilio-title">Datos de la Mascota</div>
            <div class="panel-body">
                {% for field in mascota_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'patentes:lista_patentes' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}
