{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Patentes{% endblock %}

{% block header-title %}Renovacion/Duplicado de Patente{% endblock %}

{% block url-volver %}{% url 'patentes:lista_patentes' %}{% endblock %}

{% block extra-form %}
    {% if fecha_hoy >= patente.fecha_vencimiento %}
        <label for="id-radio-ren"></label>
        <input type="radio" id="id-radio-ren" name="radio" value="renovacion" checked> Renovacion<br>
        <label for="id-radio-dup"></label>
        <input type="radio" id="id-radio-dup" name="radio" value="duplicado"> Duplicado
    {% else %}
        <label for="id-radio-ren-v"></label>
        <input type="radio" id="id-radio-ren-v" data-toggle="tooltip" title="La patente aun es válida" name="radio" value="renovacion" disabled> Renovacion<br>
        <label for="id-radio-dup-v"></label>
        <input type="radio" id="id-radio-dup-v" name="radio" value="duplicado" checked> Duplicado
    {% endif %}
    <br><br>
    {% include 'caja/cuadro_facturacion.html' %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'patentes:lista_patentes' %}">Cancelar</a>
{% endblock %}