{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Patentes{% endblock %}

{% block header-title %}Patentes{% endblock %}

{% block panel-title %}Patentes{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'patentes:nueva_patente' %}" class="btn btn-sm btn-primary btn-create">Nueva Patente</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <td>N° de Patente</td>
            <th>Persona</th>
            <th>Mascota</th>
            <th>Fecha de Vencimiento</th>
            <th>Retiro de Beneficios</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for patente in listado %}
            <tr>
                <td>{{ patente.nro_patente }}</td>
                <td>{{ patente.persona }}</td>
                <td>{{ patente.mascota }}</td>
                <td>{{ patente.fecha_vencimiento }}</td>
                <td>
                    <a class="btn btn-info btn-beneficio" data-url="{% url 'patentes:retiro_garrapaticida' patente.pk %}">Garrapaticida</a>
                    <a class="btn btn-info btn-beneficio" data-url="{% url 'patentes:retiro_antiparasitario' patente.pk %}">Antiparasitario</a>
                </td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Detalles" href="{% url 'patentes:detalle_patente' patente.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'patentes:modificar_patente' patente.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'patentes:borrar_patente' patente.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                    <a class="btn btn-info" data-toggle="tooltip" title="Renovacion/Duplicado de patente" href="{% url 'patentes:reno_dup_patente' patente.pk %}"><em class="glyphicon glyphicon-refresh"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

    <div id="modalBeneficio" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Retiro de beneficio</h4>
                </div>
                <div class="modal-body" align="center">
                    <p>Se registraraá el retiro del beneficio</p>
                    <p>¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary btn-confirm-beneficio" name="confirm" value="Confirmar"/>
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
                </div>
            </div>
        </div>
    </div>

    <div id="modalRealizado" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Beneficio retirado</h4>
                </div>
                <div class="modal-body" align="center"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more-scripts %}
    <script>
        $('.btn-beneficio').click(function () {
            $('#modalBeneficio').modal();
            var urlBeneficio = $(this).data('url');
            $('.btn-confirm-beneficio').click(function() {
                $.ajax({
                    url: urlBeneficio,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        $('#modalBeneficio').modal('hide');
                        $('#modalRealizado').find('.modal-body').text(data['msg']);
                        $('#modalRealizado').modal();
                    }
                });
            });
        });
    </script>
{% endblock %}