{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Personas{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'personas:lista_personas' %}">Personas</a></li>
    <li class="active">Alta-Modificacion de persona</li>
{% endblock %}

{% block header-title %}Alta/Modificacion de Persona{% endblock %}

{% block url-volver %}{% url 'personas:lista_personas' %}{% endblock %}
