{% extends "base/base_baja.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Personas{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'personas:lista_personas' %}">Personas</a></li>
    <li class="active">Borrar persona</li>
{% endblock %}

{% block header-title %}Baja de Persona{% endblock %}

{% block url-volver %}{% url 'personas:lista_personas' %}{% endblock %}

{% block btn-cancelar %}<a href="{% url 'personas:lista_personas' %}" class="btn btn-sm btn-primary" role="button">Cancelar</a>{% endblock %}