{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Personas{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'personas:lista_personas' %}">Personas</a></li>
    <li class="active">Detalle de persona</li>
{% endblock %}

{% block header-title %}Detalle de Persona{% endblock %}

{% block url-volver %}{% url 'personas:lista_personas' %}{% endblock %}

{% block detail %}
    <p>Apellido: <i>{{ object.apellido }}</i></p>
    <p>Nombre: <i>{{ object.nombre }}</i></p>
    <p>Dni: <i>{{ object.dni }}</i></p>
    <p>Cuil: <i>{{ object.cuil }}</i></p>
    <p>Fecha de Nacimiento: <i>{{ object.fecha_nacimiento }}</i></p>
    <p>Nacionalidad: <i>{{ object.nacionalidad }}</i></p>
    <p>Obra Social: <i>{{ object.obra_social }}</i></p>
    <p>Domicilio: <i>{{ object.domicilio }}</i></p>
    <p>Telefono: <i>{{ object.telefono }}</i></p>
    <p>Email: <i>{{ object.email }}</i></p>
    <p>Rubro: <i>{{ object.rubro }}</i></p>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'personas:lista_personas' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}