{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Controles{% endblock %}

{% block header-title %}Control Antirrábico{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Controles{% endblock %}

{% block btn-nuevo %}
    <a href=" {% url 'controles:nuevo_control' %}" class="btn btn-sm btn-primary btn-create">Nuevo Control</a>    
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-list">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Mordido</th>
            <th>Responsable</th>
            <th>Observaciones</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for control in filter.qs %}
            <tr>
                <td>{{ control.fecha_suceso }}</td>
                <td>{{ control.mordido }}</td>
                <td>{{ control.responsable }}</td>
                <td>{{ control.observaciones }}</td>
                <td align="center">
                    <a class="btn btn-warning" data-toggle="tooltip" title="Acta de Infraccion" href="#"><em class="glyphicon glyphicon-file"></em></a>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'controles:borrar_control' control.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Registro de Visitas" href="{% url 'controles:lista_visitas' control.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
