{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Controles{% endblock %}

{% block header-title %}Alta/Modificacion de Control Antirrábico{% endblock %}

{% block url-volver %}{% url 'controles:lista_controles' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5">
            {% include 'caja/cuadro_facturacion.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'controles:lista_controles' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        $.datepicker.setDefaults({
            minDate: "-10d",
            maxDate: new Date()
        });
    </script>
{% endblock %}