{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Abastecedor{% endblock %}

{% block header-title %}Alta/Modificacion de Abastecedor{% endblock %}

{% block url-volver %}{% url 'abastecedores:lista_abastecedores' %}{% endblock %}

{% block form-right %}
    {% if not modificacion %}
        <div class="col-xs-12 col-md-5" id="container-form-right">
            {% include 'caja/cuadro_facturacion.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block extra-buttons %}
    <a class="btn btn-primary" href="{% url 'abastecedores:nuevo_abastecedor_particular' %}">Nuevo abastecedor - Particular</a>
    <a class="btn btn-primary" href="{% url 'abastecedores:nuevo_abastecedor_empresa' %}">Nuevo abastecedor - Empresa</a>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'abastecedores:lista_abastecedores' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}
