{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Abastecedores{% endblock %}

{% block header-title %}Abastecedores{% endblock %}

{% block panel-title %}Abastecedores{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'abastecedores:alta_abastecedor' %}" class="btn btn-sm btn-primary btn-create">Nuevo Abastecedor</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>CUIT o DNI</th>
            <th>Domicilio</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for abastecedor in listado %}
            <tr>
                <td>
                    {% if abastecedor.responsable.apellido %}
                        {{ abastecedor.responsable.apellido }},
                    {% endif %}
                    {{ abastecedor.responsable.nombre }}
                </td>
                <td>{{ abastecedor.responsable.dni }}{{ abastecedor.responsable.cuit }}</td>
                <td>{{ abastecedor.responsable.domicilio }}</td>
                <td>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'abastecedores:borrar_abastecedor' abastecedor.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
