{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Abastecedor{% endblock %}

{% block header-title %}Alta/Modificacion de Abastecedor{% endblock %}

{% block url-volver %}{% url 'abastecedores:lista_abastecedores' %}{% endblock %}

{% block extra-buttons %}
    <a class="btn btn-primary" href="{% url 'abastecedores:nuevo_abastecedor_particular' %}">Nuevo abastecedor - Particular</a>
    <a class="btn btn-primary" href="{% url 'abastecedores:nuevo_abastecedor_empresa' %}">Nuevo abastecedor - Empresa</a>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'abastecedores:lista_abastecedores' %}">Cancelar</a>
{% endblock %}

