{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Abastecedor{% endblock %}

{% block header-title %}Alta/Modificacion de Abastecedor{% endblock %}

{% block url-volver %}{% url 'abastecedores:lista_abastecedores' %}{% endblock %}

{% block extra-form %}
    {% if not modificacion %}
        {% include 'caja/cuadro_facturacion.html' %}
    {% endif %}
{% endblock %}

{% block form-right %}
    {% include 'domicilio/cuadro_domicilio.html' %}
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'abastecedores:lista_abastecedores' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        $.datepicker.setDefaults({
            maxDate: new Date()
        });

        var forma_pago = $('#id_forma_pago'),
        nro_cheque = $('#id_nro_cheque').parent();
        forma_pago.on('change', hideNroCheque);
        hideNroCheque();

        function hideNroCheque() {
            if (forma_pago.val() == 'Cheque') {
                nro_cheque.removeClass('hidden');
            } else {
                nro_cheque.addClass('hidden');
            }
        }
    </script>
{% endblock %}
