{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Tpp{% endblock %}

{% block header-title %}Transporte Público de Personas{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Tpp{% endblock %}

{% block btn-nuevo %}
<a href="{% url 'tpp:nuevo_tpp' %}" class="btn btn-sm btn-primary btn-create">Nuevo Tpp</a>
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-hover table-list">
        <thead>
        <tr>
            <th>Persona</th>
            <th>Vehículo</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for tpp in filter.qs %}
            <tr align="center">
                <td>{{ tpp.persona }}</td>
                <td>{{ tpp.vehiculo }}</td>
                <td align="center">
                  <a class="btn btn-warning" href="#"><em class="glyphicon glyphicon-edit"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block more-scripts %}
{% endblock %}
