{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Tpp{% endblock %}

{% block header-title %}Detalle de TPP{% endblock %}

{% block url-volver %}{% url 'tpp:lista_tpp' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Datos del Vehiculo:</td>
                <td>{{ object.vehiculo.marca }}, dominio: {{ object.vehiculo.dominio }} </td>
            </tr>
            <tr>
                <td>Apellido y Nombre del particular:</td>
                <td>{{ object.persona.apellido }}, {{ object.persona.nombre }} </td>
            </tr>
            <tr>
                <td>Domicilio del particular:</td>
                <td>B° {{ object.persona.domicilio.barrio }}, {{ object.persona.domicilio.calle }}, {{ object.persona.domicilio.nro }}</td>
            </tr>
            <tr>
                <td>Telefono del particular:</td>
                <td>{{ object.persona.telefono }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'tpp:lista_tpp' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
