{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 14px;
        }
        table {
            margin: 0 auto;
            border: 1px solid black;
            width: 100%;
        }
        td, th {
            text-align: center;
            border: 1px solid;
        }
        .firma {
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h3>Fecha de inicio del Curso: {{ curso.fecha }} </h3>
            <table>
                <thead>
                    <tr>
                        <th>Apellido y Nombre</th>
                        <th>Calificacion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripcion in inscripciones %}
                        <tr>
                            <td>{{ inscripcion.persona.apellido }}, {{ inscripcion.persona.nombre }}</td>
                            <td>{{ inscripcion.calificacion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="firma">
                _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _<br>
                            Sello y Firma
            </p>
        </div>
    </div>
{% endblock %}
