{% extends "easy_pdf/base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 14px;
        }
        table {
            margin: 0 auto;
            width: 100%;
        }
        .tabla-alumnos {
            border: 1px solid black;
        }
        .tabla-alumnos td, .tabla-alumnos th {
            text-align: center;
            border: 1px solid black;
        }
        td, th {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h3 align="center">PLANILLA DE ASISTENCIA</h3><br>
            <h3>Fecha de inicio del Curso: {{ curso.fecha }} </h3>
            <h3>Fecha de la clase: {% now "SHORT_DATE_FORMAT" %}</h3>
            <table class="tabla-alumnos">
                <thead>
                    <tr>
                        <th>Apellido y Nombre</th>
                        <th>Presente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripcion in inscripciones %}
                    <tr>
                        <td>{{ inscripcion.persona.apellido }}, {{ inscripcion.persona.nombre }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr  style="height:50px; vertical-align:bottom">
                        <td></td>
                        <td></td>
                        <td>................................</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Sello y firma</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
