{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Cursos de Manipulacion de Alimentos{% endblock %}

{% block header-title %}Cursos de Manipulación de Alimentos{% endblock %}

{% block panel-title %}Cursos{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'cursos:nuevo_curso' %}" class="btn btn-sm btn-primary btn-create">Nuevo Curso</a>
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha de Inicio</th>
            <th>Lugar</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for curso in listado %}
            <tr>
                <td>{{ curso.fecha }}</td>
                <td>{{ curso.lugar }}</td>
                <td>
                    {% if not curso.finalizado %}
                        {% if user.is_staff %}
                            <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'cursos:borrar_curso' curso.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                        {% endif %}
                        <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'cursos:modificar_curso' curso.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    {% else %}
                        <a class="btn btn-warning" data-toggle="tooltip" title="Listado de Aprobados" href="{% url 'cursos:pdf_aprobados' curso.pk%}" target="_blank"><em class="glyphicon glyphicon-sort-by-alphabet"></em></a>
                    {% endif %}
                    {% if not curso.finalizado %}
                        {% if fecha_hoy < curso.fecha or user.is_staff %}
                            <a class="btn btn-info" data-toggle="tooltip" title="Inscripciones" href="{% url 'cursos:inscripciones_curso' curso.pk %}"><em class="glyphicon glyphicon-user"></em></a>
                        {% endif %}
                    {% endif %}
                    {% if not curso.finalizado and fecha_hoy >= curso.fecha %}
                        <a class="btn btn-success" data-toggle="tooltip" title="Cierre de Curso" href="{% url 'cursos:cierre_curso' curso.pk %}"><em class="glyphicon glyphicon-education"></em></a>
                        <a class="btn btn-primary" data-toggle="tooltip" title="Planilla de Asistencia" target="_blank" href="{% url 'cursos:pdf_asistencia' curso.pk%}"><em class="glyphicon glyphicon-th-list"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
