{% extends "base/base_form.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Cursos de Manipulacion de Alimentos{% endblock %}

{% block header-title %}Alta/Modificacion de Curso{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'cursos:lista_cursos' %}">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script>
        var fecha = new Date();

        $('#id_fecha_inicio').datetimepicker({
            format:'d/m/Y H:i',
            step:30,
            minDate: fecha.addDays(7),
            defaultDate: fecha.addDays(7)
        });

        $.datetimepicker.setLocale('es');
    </script>
{% endblock %}
