{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Personas{% endblock %}

{% block header-title %}Detalle de Curso{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block detail %}
    <p>Fecha de inicio: <i>{{ curso.fecha_inicio }}</i></p>
    <p>Cupo: <i>{{ curso.cupo }}</i></p>
    <p>Lugar: <i>{{ curso.lugar }}</i></p>
    <p>Horario: <i>{{ curso.horario }}</i></p>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'cursos:lista_cursos' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
