{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Cierre de Curso{% endblock %}

{% block header-title %}Cierre de Curso{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block panel-title %}Alumnos{% endblock %}

{% block btn-nuevo %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Persona</th>
            <th>Porcentaje de asistencia</th>
            <th>Calificación</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for inscripcion in listado %}
            <tr>
                <td>{{ inscripcion.persona }}</td>
                {% if inscripcion.porcentaje_asistencia %}
                    <td>{{ inscripcion.porcentaje_asistencia }}%</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ inscripcion.nota_curso }}</td>
                {% if inscripcion.modificado %}
                    <td></td>
                {% else %}
                    <td>
                        <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'inscripciones:cierre_inscripcion' inscripcion.pk id_curso %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block panel-footer %}
    {% if apto_cierre %}
        <div class="panel-footer" align="right">
            <form method="post">
                {% csrf_token %}
                <input class="btn btn-default" type="submit" value="Cerrar Curso">
            </form>
        </div>
    {% endif %}
{% endblock %}
