{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripción a Curso{% endblock %}

{% block header-title %}Inscripción a Curso{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block panel-title %}Inscripciones{% endblock %}

{% block btn-nuevo %}
    {% if fecha_hoy < curso.fecha_inicio and not curso.finalizado and cupo_restante > 0%}
        <a href="{% url 'inscripciones:nueva_inscripcion' curso.pk %}" class="btn btn-sm btn-primary btn-create" >Nueva Inscripción</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Persona</th>
            <th>Fecha de inscripción</th>
            <th>Observaciones</th>
            {% if curso.finalizado %}
                <th>Porcentaje de asistencia</th>
                <th>Calificación</th>
            {% endif %}
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for inscripcion in listado %}
            <tr>
                <td>{{ inscripcion.persona }}</td>
                <td>{{ inscripcion.fecha_inscripcion }}</td>
                <td>{{ inscripcion.observaciones }}</td>
                {% if curso.finalizado %}
                    <td>{{ inscripcion.porcentaje_asistencia }}%</td>
                    <td>{{ inscripcion.nota_curso }}</td>
                {% endif %}
                <td>
                  {% if not curso.finalizado %}
                    <a class="btn btn-danger btn-baja" data-url="{% url 'inscripciones:borrar_inscripcion' inscripcion.pk %}" data-toggle="tooltip" title="Eliminar"><em class="glyphicon glyphicon-trash"></em></a>
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'inscripciones:modificar_inscripcion' inscripcion.pk curso.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                  {% endif %}
                    <a class="btn btn-warning" data-toggle="tooltip" title="Imprimir Comprobante" href="{% url 'inscripciones:pdf_inscripcion' inscripcion.pk%}"><em class="glyphicon glyphicon-print"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block panel-footer %}
    <div class="panel-footer" align="right">
        <b>Cupo restante: {{ cupo_restante }}</b>
    </div>
{% endblock %}
