{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Inscripción a Curso{% endblock %}

{% block header-title %}Inscripción a Curso{% endblock %}

{% block url-volver %}{% url 'cursos:lista_cursos' %}{% endblock %}

{% block panel-title %}Inscripciones{% endblock %}

{% block btn-nuevo %}
    {% if fecha_hoy < curso.fecha_inicio and not curso.finalizado and cupo_restante > 0%}
        <a href="{% url 'inscripciones:nueva_inscripcion' id_curso %}" class="btn btn-sm btn-primary btn-create" >Nueva Inscripción</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-list">
        <thead>
        <tr>
            <th>Persona</th>
            <th>Fecha de inscripción</th>
            <th>Observaciones</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
        </thead>
        <tbody>
        {% for inscripcion in filter.qs %}
            <tr>
                <td>{{ inscripcion.persona }}</td>
                <td>{{ inscripcion.fecha_inscripcion }}</td>
                <td>{{ inscripcion.observaciones }}</td>
                <td align="center">
                    <a class="btn btn-warning" data-toggle="tooltip" title="Imprimir Comprobante" href="{% url 'inscripciones:pdf_inscripcion' inscripcion.pk%}"><em class="glyphicon glyphicon-print"></em></a>
                    {% if not curso.finalizado %}
                        <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'inscripciones:modificar_inscripcion' inscripcion.pk id_curso %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panel-footer %}
    <div class="panel-footer" align="right">
        <b>Cupo restante: {{ cupo_restante }}</b>
    </div>
{% endblock %}