{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Cursos de Manipulacion de Alimentos{% endblock %}

{% block breadcrumb-items %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Cursos</li>
{% endblock %}

{% block header-title %}Cursos de Manipulación de Alimentos{% endblock %}

{% block url-volver %}{% url 'inicio' %}{% endblock %}

{% block panel-title %}Cursos{% endblock %}

{% block btn-nuevo %}
    <a href="{% url 'cursos:nuevo_curso' %}" class="btn btn-sm btn-primary btn-create" role="button">Nuevo Curso</a>
{% endblock %}

{% block tabla %}
    <table class="table table-striped table-bordered table-hover table-list">
        <thead>
            <tr>
                <th>Fecha de Inicio</th>
                <th>Cupo</th>
                <th>Lugar</th>
                <th>Horario</th>
                <th><em class="glyphicon glyphicon-cog"></em></th>
            </tr>
        </thead>
        <tbody>
        {% for curso in filter.qs %}
            <tr align="center">
                <td>{{ curso.fecha_inicio }}</td>
                <td>{{ curso.cupo }}</td>
                <td>{{ curso.lugar }}</td>
                <td>{{ curso.horario }}</td>
                <td align="center">
                    <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'cursos:modificar_curso' curso.pk %}"><em class="glyphicon glyphicon-pencil"></em></a>
                    <a class="btn btn-danger btn-baja" data-url="{% url 'cursos:borrar_curso' curso.pk %}" data-toggle="tooltip" title="Eliminar" href="{% url 'cursos:borrar_curso' curso.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                    {% if fecha_hoy < curso.fecha_inicio %}
                    <a class="btn btn-info" data-toggle="tooltip" title="Inscripciones" href="{% url 'cursos:inscripciones_curso' curso.pk %}"><em class="glyphicon glyphicon-user"></em></a>
                    {% endif %}
                    <a class="btn btn-success" data-toggle="tooltip" title="Cierre de Curso" href="{% url 'cursos:cierre_curso' curso.pk %}"><em class="glyphicon glyphicon-education"></em></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
