{% load staticfiles %}

{% block extra_style %}
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        @page {
            size: landscape;
        }
        body {
            font-size: 10px;
        }
        table {
            margin: 0;
            width: 100%;
        }
        .tabla-alumnos {
            border: 1px solid black;
        }
        .tabla-alumnos td, .tabla-alumnos th {
            text-align: center;
            border: 1px solid black;
        }
        td, th {
            text-align: center;
        }
        .logo {
            max-height: 64px;
            max-width: 64px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <img class="logo" src="{% static 'images/rawson.png' %}" alt="">
            <h3 align="center">PLANILLA DE ASISTENCIA</h3>
            <h3>Curso N°: {{ curso.pk }}</h3>
            <h3>Fecha de inicio de curso: {{ curso.fecha }}</h3>
            <table class="tabla-alumnos">
                <thead>
                    <tr>
                        <th>Apellido y Nombre</th>
                        <th>N° de doc.</th>
                        <th>Dia 1</th>
                        <th>Dia 2</th>
                        <th>Dia 3</th>
                        <th>Dia 4</th>
                        <th>Dia 5</th>
                        <th>Domicilio</th>
                        <th>Teléfono</th>
                        <th>Rubro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripcion in inscripciones %}
                        <tr>
                            <td>{{ inscripcion.persona.apellido }}, {{ inscripcion.persona.nombre }}</td>
                            <td>{{ inscripcion.persona.dni }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ inscripcion.persona.domicilio }}</td>
                            <td>{{ inscripcion.persona.telefono }}</td>
                            <td>{{ inscripcion.rubro }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
