{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Vehiculo{% endblock %}

{% block header-title %}Detalle de vehiculo{% endblock %}

{% block url-volver %}{% url 'vehiculo:lista_vehiculos' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Apellido y Nombre del responsable:</td>
                <td>{{ object.titular.apellido }}, {{ object.titular.nombre }}</td>
            </tr>
            <tr>
                <td>Domicilio del responsable:</td>
                <td>{% if object.titular.domicilio.barrio %} B° {{ object.titular.domicilio.barrio }}, {% else %} Calle: {% endif %} {{ object.titular.domicilio.calle }}, {{ object.titular.domicilio.nro }}</td>
            </tr>
            <tr>
                <td>Telefono del responsable:</td>
                <td>{{ object.titular.telefono }}</td>
            </tr>
            <tr>
                <td>Datos del Vehiculo:</td>
                <td>{{ object.marca }} - Dominio: {{ object.dominio }}</td>
            </tr>
            {% if object.tipo_vehiculo == 'TPP' %}
                <tr>
                    <td>Tipo de Vehiculo:</td>
                    <td>Transporte Público de Pasajeros</td>
                </tr>
                {% if object.disposicion_resolucion %}
                  <tr>
                      <td>N° de Resolucion:</td>
                      <td>{{ object.disposicion_resolucion }}</td>
                  </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>Tipo de Vehiculo:</td>
                    <td>Transporte de Sustancias Alimenticias</td>
                </tr>
                <tr>
                    <td>Categoria del Vehiculo:</td>
                    <td>{{ object.categoria }}</td>
                </tr>
                <tr>
                    <td>Rubro del Vehiculo:</td>
                    <td>{{ object.rubro_vehiculo }}</td>
                </tr>
                {% if object.disposicion_resolucion %}
                    <tr>
                        <td>N° de Disposicion:</td>
                        <td>{{ object.disposicion_resolucion }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'vehiculo:lista_vehiculos' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
