{% extends "easy_pdf/base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 14px;
        }
        table {
            margin: 0 auto;
            width: 100%;
        }
        td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <p><b>REGISTRO DE
                {% if vehiculo.tipo_vehiculo == 'TSA' %}
                    TRANSPORTE DE SUSTANCIAS ALIMENTICIAS
                {% else %}
                    TRANSPORTE PÚBLICO DE PASAJEROS
                {% endif %} N° {{ vehiculo.nro }}<br>
                {% if vehiculo.titular.cuit %}
                    RAZON COMERCIAL:
                {% else %}
                    PROPIETARIO:
                {% endif %} {{ vehiculo.titular }}<br>
                MARCA: {{ vehiculo.marca }}<br>
                DOMINIO: {{ vehiculo.dominio }}<br>
                {% if vehiculo.tipo_vehiculo == 'TSA' %}
                    RESOLUCION: N° {{ vehiculo.disposicion_resolucion }}<br>
                {% else %}
                    DISPOSICION: N° {{ vehiculo.disposicion_resolucion }}
                {% endif %}<br>
            </b></p>
            <br>
            <table>
                <tbody>
                    <tr  style="height:50px; vertical-align:bottom">
                        <td></td>
                        <td></td>
                        <td>................................</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Sello y firma</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}