{% extends "base/base_form.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Vehiculos{% endblock %}

{% block header-title %}Alta/Modificacion de Vehiculo{% endblock %}

{% block url-volver %}{% url 'vehiculo:lista_vehiculos' %}{% endblock %}

{% block extra-form %}
    <div class="form-group">
        <label for="id_rubro_vehiculo">Rubro del vehículo</label>
        <select name="rubro_vehiculo" class="form-control selectized" id="id_rubro_vehiculo" tabindex="-1" style="display: none;"></select>
    </div>
{% endblock %}

{% block btn-cancelar %}
    <a class="btn btn-danger btn-cancelar" href="{% url 'vehiculo:lista_vehiculos' %}">Cancelar</a>
{% endblock %}

{% block more-scripts %}
    <script>
        let tipo_vehiculo = $('#id_tipo_vehiculo'),
        tipo_tpp = $('#id_tipo_tpp'),
        disp_res = $('#id_disposicion_resolucion'),
        categoria = $('#id_categoria'),
        rubro = $('#id_rubro_vehiculo');

        tipo_vehiculo.change(hideFields);
        hideFields();

        function hideFields() {
            if (tipo_vehiculo.val() === 'TPP') {
                tipo_tpp.parent().removeClass('hidden');
                tipo_tpp.prop('required', true);
                disp_res.parent().removeClass('hidden');
                disp_res.prop('required', false);
                disp_res.siblings('label').text("Resolucion N°");
                categoria.parent().addClass('hidden');
                rubro.parent().addClass('hidden');
            } else {
                tipo_tpp.parent().addClass('hidden');
                tipo_tpp.prop('required', false);
                disp_res.prop('required', true);
                disp_res.siblings('label').text("Disposicion N° *");
                categoria.parent().removeClass('hidden');
                rubro.parent().removeClass('hidden');
            }
        }

        categoria.change(setOptionsSelect);
        setOptionsSelect();

        function setOptionsSelect() {
            let id_categoria = categoria.val();
            if (id_categoria) {
                $.ajax({
                    url: '/vehiculos/getRubros/' + id_categoria,
                    dataType: 'json',
                    success: function(data){
                        rubro.empty().trigger('change');
                        $.each(data, function(key, opt) {
                            rubro.append(new Option(opt, key, false, false)).trigger('change');
                        })
                    },
                    error: function(){
                        alert("Fallo Ajax");
                    }
                });
            }
        }
    </script>
{% endblock %}