{% extends "base/base_detail.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Vehiculo{% endblock %}

{% block header-title %}Detalle de vehiculo{% endblock %}

{% block url-volver %}{% url 'vehiculo:lista_vehiculos' %}{% endblock %}

{% block detail %}
    <table class="table table-information">
        <tbody>
            <tr>
                <td>Apellido y Nombre del responsable:</td>
                <td>{{ object.titular.apellido }}, {{ object.titular.nombre }}</td>
            </tr>
            <tr>
                <td>Domicilio del responsable:</td>
                <td>B° {{ object.titular.domicilio.barrio }}, {{ object.titular.domicilio.calle }}, {{ object.titular.domicilio.nro }}</td>
            </tr>
            <tr>
                <td>Telefono del responsable:</td>
                <td>{{ object.titular.telefono }}</td>
            </tr>
            <tr>
                <td>Datos del Vehiculo:</td>
                <td>{{ object.marca }} - Dominio: {{ object.dominio }}</td>
            </tr>
            <tr>
                <td>Categoria del Vehiculo:</td>
                <td>{{ object.categoria }}</td>
            </tr>
            <tr>
                <td>Rubro del Vehiculo:</td>
                <td>{{ object.rubro_vehiculo }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block btn-footer %}
    <a href="{% url 'vehiculo:lista_vehiculos' %}" class="btn btn-primary" role="button">Regresar</a>
{% endblock %}
