{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Cuentas Corrientes{% endblock %}

{% block header-title %}Cuentas Corrientes{% endblock %}

{% block panel-title %}Cuentas{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Abastecedor</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in listado %}
            <tr>
                <td>{{ cuenta.abastecedor }}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Periodos" href="{% url 'cuentas_corrientes:periodos_cc' cuenta.pk %}"><em class="glyphicon glyphicon-eye-open"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
