{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 saneamiento_extra %}

{% block title %}Cuentas Corrientes{% endblock %}

{% block header-title %}Detalle de la Cuenta Corriente{% endblock %}

{% block url-volver %}{% url 'cuentas_corrientes:lista_cc' %}{% endblock %}

{% block panel-title %}Reinspecciones en cuenta corriente{% endblock %}

{% block btn-nuevo %}
    {% if listado %}
        <a class="btn btn-danger" href="{% url 'cuentas_corrientes:cancelar_deuda_cc' pk %}">Cancelar Deuda</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Periodo</th>
            <th>Total de kg inspeccionados</th>
            <th>Importe total de periodo</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody>
        {% for periodo, detalles in listado.items %}
            <tr>
                <td>{{ periodo }}</td>
                <td>{{ detalles.total_kg }}</td>
                <td>${{ detalles.monto }}</td>
                <td>
                    {% with periodo|string_split as tupla %}
                        <a class="btn btn-warning" data-toggle="tooltip" title="Detalle de periodo" href="{% url 'cuentas_corrientes:detalle_periodo' pk tupla.0 tupla.1 %}"><em class="glyphicon glyphicon-list-alt"></em></a>
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}