{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Pago de Cuenta Corriente{% endblock %}

{% block header-title %}Pago de Cuenta Corriente{% endblock %}

{% block panel-title %}Pagos Realizados{% endblock %}

{% block url-volver %}{% url 'cuentas_corrientes:realizar_pago_cc' cuenta.pk %}{% endblock %}

{% block btn-nuevo %}
    {% if cuenta.saldo > 0 %}
        <a href="{% url 'cuentas_corrientes:realizar_pago_cc' cuenta.pk %}" class="btn btn-primary">Realizar Pago</a>
    {% endif %}
{% endblock %}

{% block tabla %}
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in listado %}
            <tr>
                <td>{{ pago.fecha }}</td>
                <td>${{ pago.monto }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
