{% extends "easy_pdf/base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        body {
            font-size: 9px;
        }
        .titulo {
            text-align: center;
            font-size: 20px;
        }
        table {
            margin: 0 auto;
            width: 100%;
        }
        .tabla-reinspeccion {
            border: 1px solid black;
        }
        td, th {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <p class="titulo"><b><u>Certificado de Deuda por Inspeccion/Reinspeccion Veterinaria</u></b></p>
            <p class="titulo">{{ cc.abastecedor }}</p>
            <p>
                Domicilio: {{ cc.abastecedor.responsable.domicilio }}<br>
                Código de abastecedor: {{ cc.abastecedor.pk }}<br>
                <b>Resumen de Reinspeccion Veterinaria correspondiente al periodo de {{ periodo }}</b>
            </p>
            <br>
            {% if reinspecciones %}
                {% for item in reinspecciones %}
                    <table class="tabla-reinspeccion">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Inspectores</th>
                                <th>Turno</th>
                                <th>Precintado</th>
                                <th>Certificado</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ item.reinspeccion.fecha }}</td>
                                <td>
                                    {% for i in item.reinspeccion.inspectores.all %}{{ i.apellido }}, {{ i.nombre }} | {% endfor %}
                                </td>
                                <td>{{ item.reinspeccion.turno }}</td>
                                <td>{{ item.reinspeccion.precintado }}</td>
                                <td>{{ item.reinspeccion.certificado }}</td>
                                <td>${{ item.subtotal }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tabla-productos">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Kilos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in item.productos %}
                                <tr>
                                    <td>{{ producto.producto }}</td>
                                    <td>{{ producto.kilo_producto }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br><br>
                {% endfor %}
            {% endif %}
            <p><b>TOTAL DE PRODUCTOS INSPECCIONADOS: {{ total_kilos }} Kg<br>
            MONTO A ABONAR: ${{ total_monto }}</b></p>
            <p>
                Nota: El presente certificado deberá ser abonado dentro de los cinco (5) dias habiles de ser notificado,
                caso contrario se incrementará el valor del mismo a razon del 2% mensual, Ordenanza Impositiva Vigente
                N° 7.351
            </p>
            <table>
                <tbody>
                    <tr style="height:75px; vertical-align:bottom">
                        <td></td>
                        <td><b>Dr. ANDRES MOYANO</b></td>
                        <td><b>Dr. HUGO IBAÑEZ</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Med. Veterinario</td>
                        <td>DIRECTOR</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Veterinaria, Saneamiento y Abasto</td>
                        <td>Veterinaria, Saneamiento y Abasto</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Municipalidad de Rawson</td>
                        <td>Municipalidad de Rawson</td>
                    </tr>
                    <tr  style="height:50px; vertical-align:bottom">
                        <td>................................</td>
                        <td>........../........../..........</td>
                        <td>Ingreso N°: _ _ _ _ _ _ _ _ _ _ </td>
                    </tr>
                    <tr>
                        <td>Aclaracion</td>
                        <td>Fecha</td>
                        <td>Fecha: _ _ _ _ _ _ _ _ _ _ _ _ _</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}