{% extends "base/base_listado.html" %}
{% load staticfiles bootstrap3 %}

{% block title %}Cuentas Corrientes{% endblock %}

{% block header-title %}Detalle de la Cuenta Corriente{% endblock %}

{% block url-volver %}{% url 'cuentas_corrientes:periodos_cc' pk %}{% endblock %}

{% block panel-title %}Reinspecciones del periodo {{ mes }}-{{ anio }}{% endblock %}

{% block btn-nuevo %}
    <a class="btn btn-warning" href="{% url 'cuentas_corrientes:pdf_certificado' pk mes anio %}" target="_blank">Generar certificado de deuda</a>
{% endblock %}

{% block tabla %}
    <thead align="center">
        <tr>
            <th>Fecha</th>
            <th>Turno</th>
            <th>Precintado</th>
            <th>Certificado</th>
            <th>Total Kg</th>
            <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
    </thead>
    <tbody align="center">
        {% for detalle in listado %}
            <tr>
                <td>{{ detalle.reinspeccion.fecha }}</td>
                <td>{{ detalle.reinspeccion.turno }}</td>
                <td>{{ reinspeccion.precintado }}</td>
                <td>{{ detalle.reinspeccion.certificado }}</td>
                <td>{{ detalle.reinspeccion.total_kg }}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="tooltip" title="Productos" href="{% url 'reinspecciones:lista_productos' detalle.reinspeccion.pk 0 %}"><em class="glyphicon glyphicon-list-alt"></em></a>
                    <a class="btn btn-danger btn-baja" data-toggle="tooltip" title="Eliminar" data-url="{% url 'reinspecciones:baja_reinspeccion' detalle.reinspeccion.pk %}"><em class="glyphicon glyphicon-trash"></em></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
